.app.green {
  --md-source: #008b51;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #00210f;
  --md-ref-palette-primary20: #00391e;
  --md-ref-palette-primary25: #004526;
  --md-ref-palette-primary30: #00522e;
  --md-ref-palette-primary35: #005f36;
  --md-ref-palette-primary40: #006d3e;
  --md-ref-palette-primary50: #008950;
  --md-ref-palette-primary60: #31a467;
  --md-ref-palette-primary70: #50bf80;
  --md-ref-palette-primary80: #6edc99;
  --md-ref-palette-primary90: #8af9b3;
  --md-ref-palette-primary95: #c2ffd3;
  --md-ref-palette-primary98: #e9ffec;
  --md-ref-palette-primary99: #f5fff4;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #0c1f13;
  --md-ref-palette-secondary20: #213527;
  --md-ref-palette-secondary25: #2c4032;
  --md-ref-palette-secondary30: #374b3d;
  --md-ref-palette-secondary35: #435748;
  --md-ref-palette-secondary40: #4f6354;
  --md-ref-palette-secondary50: #677c6c;
  --md-ref-palette-secondary60: #809685;
  --md-ref-palette-secondary70: #9bb19f;
  --md-ref-palette-secondary80: #b6ccb9;
  --md-ref-palette-secondary90: #d1e8d5;
  --md-ref-palette-secondary95: #dff7e3;
  --md-ref-palette-secondary98: #e9ffec;
  --md-ref-palette-secondary99: #f5fff4;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #001f26;
  --md-ref-palette-tertiary20: #023640;
  --md-ref-palette-tertiary25: #13414c;
  --md-ref-palette-tertiary30: #214c57;
  --md-ref-palette-tertiary35: #2e5864;
  --md-ref-palette-tertiary40: #3b6470;
  --md-ref-palette-tertiary50: #547d89;
  --md-ref-palette-tertiary60: #6d97a4;
  --md-ref-palette-tertiary70: #88b2bf;
  --md-ref-palette-tertiary80: #a3cddb;
  --md-ref-palette-tertiary90: #beeaf7;
  --md-ref-palette-tertiary95: #d9f6ff;
  --md-ref-palette-tertiary98: #f1fbff;
  --md-ref-palette-tertiary99: #f8fdff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1a;
  --md-ref-palette-neutral20: #2e312e;
  --md-ref-palette-neutral25: #393c39;
  --md-ref-palette-neutral30: #454744;
  --md-ref-palette-neutral35: #505350;
  --md-ref-palette-neutral40: #5c5f5b;
  --md-ref-palette-neutral50: #757874;
  --md-ref-palette-neutral60: #8f918d;
  --md-ref-palette-neutral70: #aaaca7;
  --md-ref-palette-neutral80: #c5c7c2;
  --md-ref-palette-neutral90: #e1e3de;
  --md-ref-palette-neutral95: #f0f1ec;
  --md-ref-palette-neutral98: #f8faf5;
  --md-ref-palette-neutral99: #fbfdf8;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #161d18;
  --md-ref-palette-neutral-variant20: #2a322c;
  --md-ref-palette-neutral-variant25: #353d37;
  --md-ref-palette-neutral-variant30: #414942;
  --md-ref-palette-neutral-variant35: #4c544d;
  --md-ref-palette-neutral-variant40: #586059;
  --md-ref-palette-neutral-variant50: #717971;
  --md-ref-palette-neutral-variant60: #8a938b;
  --md-ref-palette-neutral-variant70: #a5ada5;
  --md-ref-palette-neutral-variant80: #c0c9c0;
  --md-ref-palette-neutral-variant90: #dce5db;
  --md-ref-palette-neutral-variant95: #ebf3e9;
  --md-ref-palette-neutral-variant98: #f3fcf2;
  --md-ref-palette-neutral-variant99: #f6fff5;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006d3e;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #8af9b3;
  --md-sys-color-on-primary-container-light: #00210f;
  --md-sys-color-secondary-light: #4f6354;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d1e8d5;
  --md-sys-color-on-secondary-container-light: #0c1f13;
  --md-sys-color-tertiary-light: #3b6470;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #beeaf7;
  --md-sys-color-on-tertiary-container-light: #001f26;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfdf8;
  --md-sys-color-on-background-light: #191c1a;
  --md-sys-color-surface-light: #fbfdf8;
  --md-sys-color-on-surface-light: #191c1a;
  --md-sys-color-surface-variant-light: #dce5db;
  --md-sys-color-on-surface-variant-light: #414942;
  --md-sys-color-outline-light: #717971;
  --md-sys-color-inverse-on-surface-light: #f0f1ec;
  --md-sys-color-inverse-surface-light: #2e312e;
  --md-sys-color-inverse-primary-light: #6edc99;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006d3e;
  --md-sys-color-outline-variant-light: #c0c9c0;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #6edc99;
  --md-sys-color-on-primary-dark: #00391e;
  --md-sys-color-primary-container-dark: #00522e;
  --md-sys-color-on-primary-container-dark: #8af9b3;
  --md-sys-color-secondary-dark: #b6ccb9;
  --md-sys-color-on-secondary-dark: #213527;
  --md-sys-color-secondary-container-dark: #374b3d;
  --md-sys-color-on-secondary-container-dark: #d1e8d5;
  --md-sys-color-tertiary-dark: #a3cddb;
  --md-sys-color-on-tertiary-dark: #023640;
  --md-sys-color-tertiary-container-dark: #214c57;
  --md-sys-color-on-tertiary-container-dark: #beeaf7;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1a;
  --md-sys-color-on-background-dark: #e1e3de;
  --md-sys-color-surface-dark: #191c1a;
  --md-sys-color-on-surface-dark: #e1e3de;
  --md-sys-color-surface-variant-dark: #414942;
  --md-sys-color-on-surface-variant-dark: #c0c9c0;
  --md-sys-color-outline-dark: #8a938b;
  --md-sys-color-inverse-on-surface-dark: #191c1a;
  --md-sys-color-inverse-surface-dark: #e1e3de;
  --md-sys-color-inverse-primary-dark: #006d3e;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #6edc99;
  --md-sys-color-outline-variant-dark: #414942;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
