.app.green {
	--md-ref-palette-background-1-light: #eef6ef;
	--md-ref-palette-background-2-light: #e7f1e9;
	--md-ref-palette-background-3-light: #dfede4;
	--md-ref-palette-background-4-light: #ddece2;
	--md-ref-palette-background-5-light: #d8e9de;
	--md-ref-palette-surface-1-light: #eef6ef;
	--md-ref-palette-surface-2-light: #e7f1e9;
	--md-ref-palette-surface-3-light: #dfede4;
	--md-ref-palette-surface-4-light: #ddece2;
	--md-ref-palette-surface-5-light: #d8e9de;
	--md-ref-palette-surface-variant-1-light: #d1dfd3;
	--md-ref-palette-surface-variant-2-light: #cadbce;
	--md-ref-palette-surface-variant-3-light: #c4d8ca;
	--md-ref-palette-surface-variant-4-light: #c2d7c8;
	--md-ref-palette-surface-variant-5-light: #bdd4c5;
	--md-ref-palette-on-surface-variant-1-light: rgba(65, 73, 66, 0.05);
	--md-ref-palette-on-surface-variant-2-light: rgba(65, 73, 66, 0.08);
	--md-ref-palette-on-surface-variant-3-light: rgba(65, 73, 66, 0.11);
	--md-ref-palette-on-surface-variant-4-light: rgba(65, 73, 66, 0.12);
	--md-ref-palette-on-surface-variant-5-light: rgba(65, 73, 66, 0.14);
	--md-ref-palette-background-1-dark: #1d2620;
	--md-ref-palette-background-2-dark: #202b24;
	--md-ref-palette-background-3-dark: #223128;
	--md-ref-palette-background-4-dark: #233329;
	--md-ref-palette-background-5-dark: #25372c;
	--md-ref-palette-surface-1-dark: #1d2620;
	--md-ref-palette-surface-2-dark: #202b24;
	--md-ref-palette-surface-3-dark: #223128;
	--md-ref-palette-surface-4-dark: #233329;
	--md-ref-palette-surface-5-dark: #25372c;
	--md-ref-palette-surface-variant-1-dark: #435046;
	--md-ref-palette-surface-variant-2-dark: #455549;
	--md-ref-palette-surface-variant-3-dark: #46594c;
	--md-ref-palette-surface-variant-4-dark: #465b4c;
	--md-ref-palette-surface-variant-5-dark: #475e4e;
	--md-ref-palette-on-surface-variant-1-dark: rgba(192, 201, 192, 0.05);
	--md-ref-palette-on-surface-variant-2-dark: rgba(192, 201, 192, 0.08);
	--md-ref-palette-on-surface-variant-3-dark: rgba(192, 201, 192, 0.11);
	--md-ref-palette-on-surface-variant-4-dark: rgba(192, 201, 192, 0.12);
	--md-ref-palette-on-surface-variant-5-dark: rgba(192, 201, 192, 0.14);
}