/*https://m3.material.io/styles/motion/easing-and-duration/applying-easing-and-duration*/
:root {
	--md-sys-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
	--md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
	--md-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
	--md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
	--md-sys-motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
	--md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
	--md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
	--md-sys-motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
	--md-sys-motion-easing-legacy-decelerate: cubic-bezier(0.0, 0, 0.2, 1);
	--md-sys-motion-easing-legacy-accelerate: cubic-bezier(0.4, 0, 1.0, 1);
}