@font-face
{
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(./material_icons/material_symbols_rounded.woff2) format('woff2');
}

.material-icon
{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; 
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: var(--md-sys-color-on-surface-variant);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-icon.fill
{
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}