.app.yellow.night-mode {
	/*--md-sys-color-surface-dim: var(--md-ref-palette-neutral6);
	--md-sys-color-surface-bright: var(--md-ref-palette-neutral24);*/
	--md-sys-color-surface-container-lowest: var(--md-ref-palette-surface-dark);
	--md-sys-color-surface-container-low: var(--md-ref-palette-surface-1-dark);
	--md-sys-color-surface-container: var(--md-ref-palette-surface-2-dark);
	--md-sys-color-surface-container-high: var(--md-ref-palette-surface-3-dark);
	--md-sys-color-surface-container-highest: var(--md-sys-color-surface-variant-dark);

	--md-sys-color-on-surface-variant-1: var(--md-ref-palette-on-surface-variant-1-dark);
	--md-sys-color-on-surface-variant-2: var(--md-ref-palette-on-surface-variant-2-dark);
	--md-sys-color-on-surface-variant-3: var(--md-ref-palette-on-surface-variant-3-dark);
	--md-sys-color-on-surface-variant-4: var(--md-ref-palette-on-surface-variant-4-dark);
	--md-sys-color-on-surface-variant-5: var(--md-ref-palette-on-surface-variant-5-dark);

	--md-sys-color-background-1: var(--md-ref-palette-background-1-dark);
}