.app.yellow {
	--md-ref-palette-background-1-light: #f7f3f2;
	--md-ref-palette-background-2-light: #f2efeb;
	--md-ref-palette-background-3-light: #eeeae3;
	--md-ref-palette-background-4-light: #ece9e0;
	--md-ref-palette-background-5-light: #e9e6db;
	--md-ref-palette-surface-1-light: #f7f3f2;
	--md-ref-palette-surface-2-light: #f2efeb;
	--md-ref-palette-surface-3-light: #eeeae3;
	--md-ref-palette-surface-4-light: #ece9e0;
	--md-ref-palette-surface-5-light: #e9e6db;
	--md-ref-palette-surface-variant-1-light: #dfddc7;
	--md-ref-palette-surface-variant-2-light: #dbd9c0;
	--md-ref-palette-surface-variant-3-light: #d7d5ba;
	--md-ref-palette-surface-variant-4-light: #d6d4b8;
	--md-ref-palette-surface-variant-5-light: #d3d1b4;
	--md-ref-palette-on-surface-variant-1-light: rgba(72, 71, 58, 0.05);
	--md-ref-palette-on-surface-variant-2-light: rgba(72, 71, 58, 0.08);
	--md-ref-palette-on-surface-variant-3-light: rgba(72, 71, 58, 0.11);
	--md-ref-palette-on-surface-variant-4-light: rgba(72, 71, 58, 0.12);
	--md-ref-palette-on-surface-variant-5-light: rgba(72, 71, 58, 0.14);
	--md-ref-palette-background-1-dark: #25251a;
	--md-ref-palette-background-2-dark: #2a2a1c;
	--md-ref-palette-background-3-dark: #2f2f1e;
	--md-ref-palette-background-4-dark: #31311f;
	--md-ref-palette-background-5-dark: #353520;
	--md-ref-palette-surface-1-dark: #25251a;
	--md-ref-palette-surface-2-dark: #2a2a1c;
	--md-ref-palette-surface-3-dark: #2f2f1e;
	--md-ref-palette-surface-4-dark: #31311f;
	--md-ref-palette-surface-5-dark: #353520;
	--md-ref-palette-surface-variant-1-dark: #4f4e3b;
	--md-ref-palette-surface-variant-2-dark: #52523c;
	--md-ref-palette-surface-variant-3-dark: #56563d;
	--md-ref-palette-surface-variant-4-dark: #58573d;
	--md-ref-palette-surface-variant-5-dark: #5a5a3e;
	--md-ref-palette-on-surface-variant-1-dark: rgba(201, 199, 182, 0.05);
	--md-ref-palette-on-surface-variant-2-dark: rgba(201, 199, 182, 0.08);
	--md-ref-palette-on-surface-variant-3-dark: rgba(201, 199, 182, 0.11);
	--md-ref-palette-on-surface-variant-4-dark: rgba(201, 199, 182, 0.12);
	--md-ref-palette-on-surface-variant-5-dark: rgba(201, 199, 182, 0.14);
}