.app.yellow {
  --md-source: #e8e971;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #1d1d00;
  --md-ref-palette-primary20: #323200;
  --md-ref-palette-primary25: #3d3e00;
  --md-ref-palette-primary30: #494900;
  --md-ref-palette-primary35: #555600;
  --md-ref-palette-primary40: #616200;
  --md-ref-palette-primary50: #7a7b04;
  --md-ref-palette-primary60: #949625;
  --md-ref-palette-primary70: #afb03f;
  --md-ref-palette-primary80: #cbcc57;
  --md-ref-palette-primary90: #e8e970;
  --md-ref-palette-primary95: #f6f77d;
  --md-ref-palette-primary98: #ffff96;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #1c1d06;
  --md-ref-palette-secondary20: #323218;
  --md-ref-palette-secondary25: #3d3d23;
  --md-ref-palette-secondary30: #48482d;
  --md-ref-palette-secondary35: #545438;
  --md-ref-palette-secondary40: #606043;
  --md-ref-palette-secondary50: #79795a;
  --md-ref-palette-secondary60: #939272;
  --md-ref-palette-secondary70: #aead8b;
  --md-ref-palette-secondary80: #cac8a5;
  --md-ref-palette-secondary90: #e6e4bf;
  --md-ref-palette-secondary95: #f5f3cd;
  --md-ref-palette-secondary98: #fdfbd5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #1c1d00;
  --md-ref-palette-tertiary20: #323200;
  --md-ref-palette-tertiary25: #3d3e00;
  --md-ref-palette-tertiary30: #494900;
  --md-ref-palette-tertiary35: #555600;
  --md-ref-palette-tertiary40: #616200;
  --md-ref-palette-tertiary50: #7a7b04;
  --md-ref-palette-tertiary60: #949626;
  --md-ref-palette-tertiary70: #afb13f;
  --md-ref-palette-tertiary80: #cbcc58;
  --md-ref-palette-tertiary90: #e8e970;
  --md-ref-palette-tertiary95: #f6f77d;
  --md-ref-palette-tertiary98: #ffff97;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1c1c17;
  --md-ref-palette-neutral20: #31312b;
  --md-ref-palette-neutral25: #3c3c36;
  --md-ref-palette-neutral30: #484741;
  --md-ref-palette-neutral35: #54524c;
  --md-ref-palette-neutral40: #605e58;
  --md-ref-palette-neutral50: #797770;
  --md-ref-palette-neutral60: #939189;
  --md-ref-palette-neutral70: #aeaba3;
  --md-ref-palette-neutral80: #c9c6be;
  --md-ref-palette-neutral90: #e6e2da;
  --md-ref-palette-neutral95: #f4f0e8;
  --md-ref-palette-neutral98: #fdf9f0;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1c1c11;
  --md-ref-palette-neutral-variant20: #313125;
  --md-ref-palette-neutral-variant25: #3d3c2f;
  --md-ref-palette-neutral-variant30: #48473a;
  --md-ref-palette-neutral-variant35: #545346;
  --md-ref-palette-neutral-variant40: #605f51;
  --md-ref-palette-neutral-variant50: #797869;
  --md-ref-palette-neutral-variant60: #939182;
  --md-ref-palette-neutral-variant70: #aeac9b;
  --md-ref-palette-neutral-variant80: #c9c7b6;
  --md-ref-palette-neutral-variant90: #e6e3d1;
  --md-ref-palette-neutral-variant95: #f4f1df;
  --md-ref-palette-neutral-variant98: #fdfae7;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #616200;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #e8e970;
  --md-sys-color-on-primary-container-light: #1d1d00;
  --md-sys-color-secondary-light: #606043;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e6e4bf;
  --md-sys-color-on-secondary-container-light: #1c1d06;
  --md-sys-color-tertiary-light: #616200;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #e8e970;
  --md-sys-color-on-tertiary-container-light: #1c1d00;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1c1c17;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #1c1c17;
  --md-sys-color-surface-variant-light: #e6e3d1;
  --md-sys-color-on-surface-variant-light: #48473a;
  --md-sys-color-outline-light: #797869;
  --md-sys-color-inverse-on-surface-light: #f4f0e8;
  --md-sys-color-inverse-surface-light: #31312b;
  --md-sys-color-inverse-primary-light: #cbcc57;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #616200;
  --md-sys-color-outline-variant-light: #c9c7b6;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #cbcc57;
  --md-sys-color-on-primary-dark: #323200;
  --md-sys-color-primary-container-dark: #494900;
  --md-sys-color-on-primary-container-dark: #e8e970;
  --md-sys-color-secondary-dark: #cac8a5;
  --md-sys-color-on-secondary-dark: #323218;
  --md-sys-color-secondary-container-dark: #48482d;
  --md-sys-color-on-secondary-container-dark: #e6e4bf;
  --md-sys-color-tertiary-dark: #cbcc58;
  --md-sys-color-on-tertiary-dark: #323200;
  --md-sys-color-tertiary-container-dark: #494900;
  --md-sys-color-on-tertiary-container-dark: #e8e970;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1c1c17;
  --md-sys-color-on-background-dark: #e6e2da;
  --md-sys-color-surface-dark: #1c1c17;
  --md-sys-color-on-surface-dark: #e6e2da;
  --md-sys-color-surface-variant-dark: #48473a;
  --md-sys-color-on-surface-variant-dark: #c9c7b6;
  --md-sys-color-outline-dark: #939182;
  --md-sys-color-inverse-on-surface-dark: #1c1c17;
  --md-sys-color-inverse-surface-dark: #e6e2da;
  --md-sys-color-inverse-primary-dark: #616200;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #cbcc57;
  --md-sys-color-outline-variant-dark: #48473a;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
