<div class="app{{#if config.nightMode}} night-mode{{/if}}">
	<div class="bar-header">

	</div>
	<div class="global-elements">
		<div class="hover">
			<div></div>
		</div>
		<div class="menus">

		</div>
		<div class="material-icon floating-action-button floating-action-button-min hover-text" style="bottom: 128px;" onclick="dom.addComicButtons(false); addComic(false);" hover-text="{{language.global.addFile}}">
			<div class="material-icon ">note_add</div>
		</div>
		<div class="floating-action-button floating-action-button-min hover-text" style="bottom: 76px;" onclick="dom.addComicButtons(false); addComic(true);" hover-text="{{language.global.addFolder}}">
			<div class="material-icon ">create_new_folder</div>
		</div>
		<div class="floating-action-button floating-action-button-add hover-text" hover-text="{{language.global.add}}">
			<div class="material-icon">add</div>
		</div>
	</div>
	<div class="content-left">

	</div>
	<div class="content-right">

	</div>
	<div class="footer">
	<script type="text/javascript">startApp();</script>
	</div>
</div>