<div class="input input-margin-top-min input-compact">
	<div>
		<div class="inputBorder">
			<div class="left"></div>
			<div class="right"></div>
			<div class="top">
				<div></div>
				<span></span> 
			</div>
			<div class="bottom"></div>
		</div>
		<div class="placeholder">{{tracking.serachIn}}</div>
		<input type="text" value="{{trackingTitle}}" class="input-search" onkeyup="tracking.searchInput('{{trackingSiteKey}}')">
	</div>
</div>

<div class="tracking-search">
	<div class="loading loading48 align">
		<svg viewBox="24 24 48 48">
			<circle/>
		</svg>
	</div>
</div>