<div class="select settings-leftClick body-large gamepad-item have-select-wa" onclick="settings.getTapZoneActions('leftClick'); events.showSelect(this, 'settings-tap-zone', true);" style="height: 60px; padding: 0px;">
	<div>
		<div class="select-border">
			<div class="bottom"><div></div></div>
		</div>
		<div class="text" style="opacity: 1;">{{tapZone.leftClick.name}}</div>
		<div class="placeholder">{{language.settings.tapZones.leftClick}}</div>
		<i class="material-icon">arrow_drop_down</i>
	</div>
</div>

<div class="select settings-rightClick body-large gamepad-item have-select-wa" onclick="settings.getTapZoneActions('rightClick'); events.showSelect(this, 'settings-tap-zone', true);" style="height: 60px; padding: 0px;">
	<div>
		<div class="select-border">
			<div class="bottom"><div></div></div>
		</div>
		<div class="text" style="opacity: 1;">{{tapZone.rightClick.name}}</div>
		<div class="placeholder">{{language.settings.tapZones.rightClick}}</div>
		<i class="material-icon">arrow_drop_down</i>
	</div>
</div>

<div class="select settings-middleClick body-large gamepad-item have-select-wa" onclick="settings.getTapZoneActions('middleClick'); events.showSelect(this, 'settings-tap-zone', true);" style="height: 60px; padding: 0px;">
	<div>
		<div class="select-border">
			<div class="bottom"><div></div></div>
		</div>
		<div class="text" style="opacity: 1;">{{tapZone.middleClick.name}}</div>
		<div class="placeholder">{{language.settings.tapZones.middleClick}}</div>
		<i class="material-icon">arrow_drop_down</i>
	</div>
</div>
