<div style="padding-left: 0px; padding-right: 0px;" class="simple-slider gamepad-item" data-margin="0,24,0,24" data-gamepad-left="events.rangeMoveStep(this, -1)" data-gamepad-right="events.rangeMoveStep(this, 1)">
	<div class="simple-slider-text">{{language.reading.pages.angle}}<div><i class="material-icon slider-reset" onclick="events.resetRange(this)" data-default="30" style="right: 44px;">undo</i><span>{{angle}}</span>deg</div></div>
	<div class="range">
		<div class="range-position">
			<span class="range-line" style="width: 100%"></span>
			<span class="range-steps"></span>
			<div>
				<div class="range-point" position="100" style="left: 100%;"><div class="elevation-1"></div></div>
			</div>
		</div>
		<input type="range" max="45" min="-45" step="1" value="{{angle}}" onrange="reading.pageTransitions.change('smoothPageTurn', 'angle', \{{value}})">
	</div>
</div>