<div class="drop-open" data-type="open">
	<div>
		<h2 class="display-medium">
			<i class="icon-48 material-icon">open_in_browser</i>
			<span>{{language.global.open}}</span>
		</h2>
	</div>
</div>

<div class="drop-open-in-new-window" data-type="open-in-new-window">
	<div>
		<h2 class="display-medium">
			<i class="icon-48 material-icon">open_in_new</i>
			<span>{{language.global.contextMenu.openInNewWindow}}</span>
		</h2>
	</div>
</div>

<div class="drop-add" data-type="add">
	<div>
		<h2 class="display-medium">
			<i class="icon-48 material-icon">book</i>
			<span>{{language.global.addToLibrary}}</span>
		</h2>
	</div>
</div>