<div class="menu" id="index-menu-gamepad">
	<div class="menu-simple menu-simple-header elevation-2" style="width: 256px;">
		<div class="menu-simple-content">
			<div>
				<div class="menu-simple-element context-menu-remove gamepad-item" onclick="electronRemote.app.quit();">
					<i class="material-icon menu-simple-icon-first">exit_to_app</i>
					{{language.global.contextMenu.closeApp}}
				</div>
			</div>
		</div>
	</div>
	<div class="menu-close" onclick="events.desactiveMenu('#index-menu-gamepad');"></div>
</div>
<div class="menu" id="settings-image-interpolation">
	<div class="menu-simple menu-simple-header elevation-2" style="width: 376px; z-index: 14;">
		<div class="menu-simple-content">
		</div>
	</div>
	<div class="menu-close" onclick="events.hideSelect(false);" style="z-index: 13;"></div>
</div>
<div class="menu" id="settings-color-profiles">
	<div class="menu-simple menu-simple-header elevation-2" style="width: 376px; z-index: 14;">
		<div class="menu-simple-content">
		</div>
	</div>
	<div class="menu-close" onclick="events.hideSelect(false);" style="z-index: 13;"></div>
</div>