
<div class="menu-list">
	<div class="menu-item menu-item-library body-medium gamepad-item{{#unless isFromRecentlyOpened}} active{{/unless}}" onclick="dom.loadIndexPage(true);">
		<div class="icon-24 material-icon">book</div>
		{{language.global.library}}
	</div>

	<div class="menu-item menu-item-recently-opened body-medium gamepad-item{{#if isFromRecentlyOpened}} active{{/if}}" onclick="dom.loadRecentlyOpened();">
		<div class="icon-24 material-icon">history</div>
		{{language.global.recents}}
	</div>

	<div class="separator-2" style="width: calc(100% + 12px);"></div>

	<div class="menu-item menu-item-language body-medium gamepad-item" onclick="dom.loadLanguagesPage();">
		<div class="icon-24 material-icon">language</div>
		{{language.global.language}}
	</div>

	<div class="menu-item menu-item-theme body-medium gamepad-item" onclick="dom.loadThemePage();">
		<div class="icon-24 material-icon">palette</div>
		{{language.global.theme}}
	</div>

	<div class="menu-item menu-item-settings body-medium gamepad-item" onclick="dom.loadSettingsPage();">
		<div class="icon-24 material-icon">settings</div>
		{{language.global.settings}}
	</div>

</div>