<div class="continue-reading-list{{#if comicsReadingProgress}}{{#if comicsReadingProgressCurrentPath}} continue-reading-list-double{{/if}}{{/if}}">
	{{#if comicsReadingProgress}}
	<div class="continue-reading gamepad-item body-medium" onclick="{{#if comicsReadingProgress.ebook}}reading.setNextOpenChapterProgress({{comicsReadingProgress.chapterIndex}}, {{comicsReadingProgress.chapterProgress}});{{/if}}dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgress.path}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgress.mainPath}}');">
		<div>
			<div class="continue-reading-sha-{{comicsReadingProgress.sha}}" style="background-image: url({{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgress.thumbnail}});"></div>
			<span>{{language.comics.continueReading}}:&nbsp&nbsp&nbsp{{{comicsReadingProgress.pathText}}}</span>
		</div>
	</div>
	{{/if}}
	{{#if comicsReadingProgressCurrentPath}}
	<div class="continue-reading gamepad-item body-medium" onclick="{{#if comicsReadingProgressCurrentPath.ebook}}reading.setNextOpenChapterProgress({{comicsReadingProgressCurrentPath.chapterIndex}}, {{comicsReadingProgressCurrentPath.chapterProgress}});{{/if}}dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgressCurrentPath.path}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgressCurrentPath.mainPath}}');">
		<div>
			<div class="continue-reading-sha-{{comicsReadingProgressCurrentPath.sha}}" style="background-image: url({{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgressCurrentPath.thumbnail}});"></div>
			<span>{{language.comics.continueReading}}:&nbsp&nbsp&nbsp{{{comicsReadingProgressCurrentPath.pathText}}}</span>
		</div>
	</div>
	{{/if}}
</div>
<div class="content-view-module">
	{{#each comics}}
	<div class="sha-{{sha}} gamepad-item{{#if @first}} gamepad-to-highlight{{/if}}" onclick="{{#if folder}}dom.loadIndexPage(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', false, false, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}');{{else}}dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}');{{/if}}{{onclick}}" oncontextmenu="dom.comicContextMenu('{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', {{#if @root.comicsIndex}}{{#unless fromMasterFolder}}true{{else}}false{{/unless}}{{else}}false{{/if}}, {{#if folder}}true{{else}}false{{/if}}, fromGamepad)">
		{{#if folder}}
		<div class="v-folder item-image">
			{{#if poster}}
				<div class="fi-sha-{{poster.sha}} folder-poster">
					<img{{#if poster.path}} class="has-poster" src="{{poster.path}}"{{else}} class="folder-poster-img"{{/if}}>
				</div>
				{{#if images}}
					{{#each images}}
					<div class="fi-sha-{{sha}} folder-images">
						<img src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}">
					</div>
					{{/each}}
				{{/if}}
			{{else}}
				{{#each images}}
				<div class="fi-sha-{{sha}} folder-images">
					<img src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}">
				</div>
				{{/each}}
			{{/if}}
		</div>
		{{else}}
		<div class="v-img">
			<picture><img class="item-image{{#if thumbnail}} border{{/if}}" src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' thumbnail}}"></picture>
		</div>
		{{/if}}
		<div class="v-text body-small">{{name}}</div>
	</div>
	{{else}}
	<div class="content-empty">
		{{#compare page.name '==' 'recently-opened'}}
			{{language.comics.emptyRecentlyOpened}}
		{{else compare page.name '==' 'index'}}
			{{language.comics.emptyIndex}}
		{{else}}
			{{language.comics.emptyFolder}}
		{{/compare}}
	</div>
	{{/each}}
</div>