<div class="bar-back material-icon button button2 hover-text {{bar-back}}" hover-text="{{language.global.back}}" onclick="dom.indexPathControl(1)">arrow_back</div>
<div class="bar-title">
	{{#if headerTitlePath}}
		{{#each headerTitlePath}}
			<span class="bar-title-a" onclick="dom.loadIndexPage(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', false, false, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}')">{{name}}</span>
			{{#unless last}} / {{/unless}}
		{{/each}}
	{{else}}
		{{#if headerTitle}}
			{{headerTitle}}
		{{else}}
			{{language.global.comics}}
		{{/if}}
	{{/if}}
</div>
<div class="bar-right-buttons">
	<div>
		<div class="material-icon button button1 button-sort hover-text" hover-text="{{language.global.sort}}" onclick="events.activeMenu('#index-sort', '.bar-right-buttons .button-sort', 'right');">sort</div>
		<div class="material-icon button button1 button-view hover-text" hover-text="{{language.global.view}}" onclick="events.activeMenu('#index-view', '.bar-right-buttons .button-view', 'right');">
			{{#if comicsIndex}}
				{{#compare config.viewIndex '==' 'module'}}view_module{{/compare}}
				{{#compare config.viewIndex '==' 'list'}}view_list{{/compare}}
			{{else}}
				{{#compare config.view '==' 'module'}}view_module{{/compare}}
				{{#compare config.view '==' 'list'}}view_list{{/compare}}
			{{/if}}
		</div>
	</div>
</div>