{{#if comicsReadingProgress}}
<div class="continue-reading" onclick="dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgress.path}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgress.mainPath}}');">
	<div>
		<div class="continue-reading-sha-{{comicsReadingProgress.sha}}" style="background-image: url({{chain 'escapeBackSlash' 'escapeQuotesSimples' comicsReadingProgress.thumbnail}});"></div>
		<span>{{language.comics.continueReading}}:&nbsp&nbsp&nbsp{{{comicsReadingProgress.pathText}}}</span>
	</div>
</div>
{{/if}}
<div class="content-view-module">
	{{#each comics}}
	<div class="{{#unless folder}}sha-{{sha}}{{/unless}} gamepad-item" onclick="{{#if folder}}dom.loadIndexPage(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', false, false, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}'){{else}}dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}');{{/if}}"{{#if @root.comicsIndex}} oncontextmenu="dom.comicContextMenu('{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}')"{{/if}}>
		{{#if folder}}
		<div class="v-folder item-image">
			{{#each images}}
			<div class="fi-sha-{{sha}} folder-images">
				<img src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}">
			</div>
			{{/each}}
		</div>
		{{else}}
		<div class="v-img">
			<img class="item-image" src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' thumbnail}}">
		</div>
		{{/if}}
		<div class="v-text">{{name}}</div>
	</div>
	{{else}}
	<div class="content-empty">{{#if comicsIndex}}{{language.comics.emptyIndex}}{{else}}{{language.comics.emptyFolder}}{{/if}}</div>
	{{/each}}
</div>