<div class="sha-{{sha}} gamepad-item{{#if @first}}{{#unless noHighlight}} gamepad-to-highlight{{/unless}}{{/if}}" onclick="{{#if folder}}dom.loadIndexPage(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', false, false, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}');{{else}}dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}');{{/if}}{{onclick}}" oncontextmenu="dom.comicContextMenu('{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}', {{#if @root.comicsIndex}}{{#unless fromRecentlyOpened}}true{{else}}false{{/unless}}{{else}}false{{/if}}, {{#if @root.comicsIndex}}{{#unless fromMasterFolder}}true{{else}}false{{/unless}}{{else}}false{{/if}}, {{#if folder}}true{{else}}false{{/if}}, fromGamepad)">
	{{#if folder}}
	<div class="v-folder item-image">
		{{#if poster}}
			<div class="folder-poster">
				<img{{#if poster.path}} class="has-poster" src="{{poster.path}}"{{else}} class="sha-image-{{poster.sha}} folder-poster-img"{{/if}}>
			</div>
			{{#if images}}
				{{#each images}}
				<div class="folder-images">
					<img class="sha-image-{{sha}}" src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}">
				</div>
				{{/each}}
			{{/if}}
		{{else}}
			{{#each images}}
			<div class="folder-images">
				<img class="sha-image-{{sha}}" src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' path}}">
			</div>
			{{/each}}
		{{/if}}
	</div>
	{{else}}
	<div class="v-img">
		<picture><img class="sha-image-{{sha}} item-image{{#if thumbnail}} border{{/if}}" src="{{chain 'escapeBackSlash' 'escapeQuotesSimples' thumbnail}}"></picture>
	</div>
	{{/if}}
	<div class="v-text body-small">{{name}}</div>
	{{#if subname}}<div class="v-secondary-text body-small">{{subname}}</div>{{/if}}
</div>