<div class="reading-transitions">
	<div class="reading-transitions-left"><div></div></div>
	<div class="reading-transitions-right"><div></div></div>
	<div class="reading-transitions-center"><div></div></div>
</div>
{{#each folderImages}}
<div class="r-flex image-position{{key1}}">
	{{#each distribution}}
		<div class="r-img r-img-i{{index}} image-position{{key1}}-{{key2}}{{#if folder}} folder{{/if}}{{#if blank}} blank{{/if}}" data-key1="{{key1}}" data-key2="{{key2}}">
			{{#if folder}}
			<div class="r-folder" onclick="dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' fristImage}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}')">
				<div>
					<div class="r-folder-img material-icon">folder</div>	
					<div class="r-folder-name">{{name}}</div>
				</div>	
			</div>
			{{else if blank}}
			<div>
				<div></div>
			</div>
			{{else}}
			<oc-img>
				{{#if canvas}}
				<canvas data-width="{{size.width}}" data-height="{{size.height}}" data-path="{{path}}" data-index="{{index}}" data-name="{{name}}"></canvas>
				{{else if ebook}}
				<!-- <iframe> -->
				{{else}}
				<img data-src="{{image}}" data-path="{{path}}" data-index="{{index}}" decoding="async">
				{{/if}}
			</oc-img>
			{{/if}}
		</div>
	{{/each}}
</div>
{{/each}}