<div class="loading loading96 align">
	<svg viewBox="48 48 96 96">
		<circle/>
	</svg>
</div>
<div style="position: relative; overflow: hidden;">
	<div class="reading-skip" onclick="reading.goPrevious();" oncontextmenu="reading.goNext();">
		<div class="reading-skip-top">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-bottom">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-left">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-right">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
	</div>
	<div class="reading-body" onclick="reading.goPrevious();" oncontextmenu="reading.goNext();" style="display: none;">
		<div>
			{{#each comics}}
				{{#if folder}}
				<div class="r-img r-img-i{{index}} folder"></div>
				{{else}}
				<div class="r-img r-img-i{{index}}">
					<img src="{{chain 'invertBackslash' image}}" path="{{htmlQuote path}}" index="{{index}}">
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</div>
<div class="reading-lens h" onclick="reading.goPrevious();" oncontextmenu="reading.goNext();">
	<div>
		<div>
		</div>
	</div>
</div>