{{#if loading}}
<div class="loading loading96 align loading-show-delayed">
	<svg viewBox="48 48 96 96">
		<circle/>
	</svg>
</div>
{{/if}}
<div class="reading-progress body-medium"></div>
<div style="position: relative; overflow: hidden;">
	<div class="reading-filters"><style></style><div></div></div>
	<div class="reading-double-page-shadow-style"></div>
	<div class="reading-skip">
		<div class="reading-skip-top">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-bottom">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-left">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-right">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
	</div>
	<div class="reading-body" style="opacity: 0;">
		<div>
		</div>
	</div>
</div>
<div class="reading-lens h">
	<div>
		<div>
		</div>
	</div>
</div>