{{#if loading}}
<div class="loading loading96 align loading-show-delayed">
	<svg viewBox="48 48 96 96">
		<circle/>
	</svg>
</div>
{{/if}}
<div style="position: relative; overflow: hidden;">
	<div class="reading-filters"><style></style><div></div></div>
	<div class="reading-skip">
		<div class="reading-skip-top">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-bottom">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-left">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="reading-skip-right">
			<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
	</div>
	<div class="reading-body" style="display: none;">
		<div>
			{{#each comics}}
				{{#if folder}}
				<div class="r-img r-img-i{{index}} folder"></div>
				{{else}}
				<div class="r-img r-img-i{{index}}">
					<oc-img>
						{{#if canvas}}
						<canvas data-width="{{size.width}}" data-height="{{size.height}}" data-path="{{htmlQuote path}}" data-path="{{htmlQuote path}}" data-index="{{index}}" data-name="{{htmlQuote name}}"></canvas>
						{{else if ebook}}
						<!-- <iframe> -->
						{{else}}
						<img src="{{chain 'shortWindowsPath' 'encodeSrcURI' 'invertBackslash' image}}" data-src="{{htmlQuote image}}" data-path="{{htmlQuote path}}" data-index="{{index}}">
						{{/if}}
					</oc-img>
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</div>
<div class="reading-lens h">
	<div>
		<div>
		</div>
	</div>
</div>