{{#each folderImages}}
<div class="r-flex image-position{{key1}}">
	{{#each distribution}}
		<div class="r-img r-img-i{{index}} image-position{{key1}}-{{key2}}{{#if folder}} folder{{/if}}{{#if blank}} blank{{/if}}">
			{{#if folder}}
			<div class="r-folder" onclick="dom.openComic(true, '{{fristImage}}', '{{mainPath}}')">
				<div>
					<div class="r-folder-img material-icon">folder</div>	
					<div class="r-folder-name">{{name}}</div>
				</div>	
			</div>
			{{else if blank}}
			<div></div>
			{{else}}
			<img src="{{chain 'invertBackslash' image}}" path="{{htmlQuote path}}" index="{{index}}">
			{{/if}}
		</div>
	{{/each}}
</div>
{{/each}}