{{#each folderImages}}
<div class="r-flex image-position{{key1}}">
	{{#each distribution}}
		<div class="r-img r-img-i{{index}} image-position{{key1}}-{{key2}}{{#if folder}} folder{{/if}}{{#if blank}} blank{{/if}}">
			{{#if folder}}
			<div class="r-folder" onclick="dom.openComic(true, '{{chain 'escapeBackSlash' 'escapeQuotesSimples' fristImage}}', '{{chain 'escapeBackSlash' 'escapeQuotesSimples' mainPath}}')">
				<div>
					<div class="r-folder-img material-icon">folder</div>	
					<div class="r-folder-name">{{name}}</div>
				</div>	
			</div>
			{{else if blank}}
			<div></div>
			{{else}}
			<oc-img>
				{{#if canvas}}
				<canvas data-width="{{size.width}}" data-height="{{size.height}}" data-path="{{htmlQuote path}}" data-index="{{index}}" data-name="{{htmlQuote name}}"></canvas>
				{{else}}
				<img src="{{chain 'encodeSrcURI' 'invertBackslash' image}}" data-path="{{htmlQuote path}}" data-index="{{index}}">
				{{/if}}
			</oc-img>
			{{/if}}
		</div>
	{{/each}}
</div>
{{/each}}