<div class="bar-back button button2 hover-text {{bar-back}}" hover-text="{{language.global.back}}" onclick="dom.indexPathControl(1)"></div>
<div class="bar-title">
	{{#if headerTitlePath}}
		{{#each headerTitlePath}}
			<span class="bar-title-a" onclick="dom.loadIndexPage(true, '{{path}}', false, false, '{{mainPath}}')">{{name}}</span>
			{{#unless last}} / {{/unless}}
		{{/each}}
	{{else}}
		{{#if headerTitle}}
			{{headerTitle}}
		{{else}}
			{{language.global.comics}}
		{{/if}}
	{{/if}}</div>
<div class="bar-right-buttons">
	<div>
		<div class="button button1 button-magnifying-glass hover-text" hover-text="{{language.reading.magnifying-glass}}" onclick="events.activeMenu('#reading-magnifying-glass', '.bar-right-buttons .button-magnifying-glass', 'right');"></div>
		<div class="button button1 button-pages hover-text" hover-text="{{language.reading.pages}}" onclick="events.activeMenu('#reading-pages', '.bar-right-buttons .button-pages', 'right');"></div>
		<div class="bar-buttons-separator"></div>
		<div class="button button2 button-last-page hover-text" hover-text="{{language.reading.last-page}}" onclick="reading.goEnd();"></div>
		<div class="button button2 button-next hover-text" hover-text="{{language.reading.next}}" onclick="reading.goNext();"></div>
		<div class="button button2 button-previous hover-text" hover-text="{{language.reading.previous}}" onclick="reading.goPrevious();"></div>
		<div class="button button2 button-first-page hover-text" hover-text="{{language.reading.first-page}}" onclick="reading.goStart();"></div>

	</div>
</div>