<div class="settings-body">
	<h1>{{language.global.settings}}</h1>

	<h2>{{language.settings.reading.main}}</h2>

	<div class="menu-simple-text">
		{{language.settings.reading.globalZoom}}
		<div class="switch{{#if config.readingGlobalZoom}} a{{/if}}" on="settings.setGlobalZoom(true)" off="settings.setGlobalZoom(false)"></div>
	</div>

	<div class="simple-slider">
		<div class="simple-slider-text">{{language.settings.reading.maxMargin}}<div><span>{{config.readingMaxMargin}}</span>px</div></div>
		<input class="range" type="range" max="3000" min="50" step="50" list="marginlist" value="{{config.readingMaxMargin}}" onrange="settings.setMaxMargin(\{{value}}, \{{toEnd}})">
	</div>

	<h2>{{language.settings.navigation.main}}</h2>

	<div class="menu-simple-text">
		{{language.settings.navigation.showFullPathLibrary}}
		<div class="switch{{#if config.showFullPathLibrary}} a{{/if}}" on="settings.setShowFullPathLibrary(true)" off="settings.setShowFullPathLibrary(false)"></div>
	</div>

	<div class="menu-simple-text">
		{{language.settings.navigation.showFullPathOpened}}
		<div class="switch{{#if config.showFullPathOpened}} a{{/if}}" on="settings.setShowFullPathOpened(true)" off="settings.setShowFullPathOpened(false)"></div>
	</div>

	<h2>{{language.settings.others.main}}</h2>

	<div class="menu-simple-text">
		{{language.settings.others.startInFullScreen}}
		<div class="switch{{#if config.startInFullScreen}} a{{/if}}" on="settings.setStartInFullScreen(true)" off="settings.setStartInFullScreen(false)"></div>
	</div>

</div>