<div class="settings-body body-medium">
	<h1 class="display-medium">{{language.global.settings}}</h1>

	<div class="big-tabs">
		<div>
			<div class="title-medium gamepad-item gamepad-to-highlight active" data-name="general" data-on-end-animation="gamepad.updateBrowsableItems(gamepad.currentKey(), true, false)">
				<span class="material-icon">tune</span>{{language.settings.general}}
			</div>

			<div class="title-medium gamepad-item" data-name="shortcuts" data-on-end-animation="gamepad.updateBrowsableItems(gamepad.currentKey(), true, false)">
				<span class="material-icon">keyboard</span>{{language.settings.shortcuts.main}}
			</div>
		</div>
	</div>

	<div class="big-tabs-content">
		<div class="big-tabs-general active">

			<h2 class="headline-small">{{language.settings.reading.main}}</h2>

			<div class="menu-simple-text">
				{{language.settings.reading.globalZoom}}
				<div class="switch{{#if config.readingGlobalZoom}} a{{/if}}" on="settings.setGlobalZoom(true)" off="settings.setGlobalZoom(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="simple-slider">
				<div class="simple-slider-text">{{language.settings.reading.maxMargin}}<div><span>{{config.readingMaxMargin}}</span>px</div></div>
				<div class="range">
					<div class="range-position">
						<span class="range-line" style="width: 100%"></span>
						<span class="range-steps"></span>
						<div>
							<div class="range-point" position="100" style="left: 100%;"><div class="elevation-1"></div></div>
						</div>
					</div>
					<input type="range" max="3000" min="50" step="50" list="marginlist" value="{{config.readingMaxMargin}}" onrange="settings.setMaxMargin(\{{value}}, \{{toEnd}})">
				</div>
			</div>

			<h2 class="headline-small">{{language.settings.navigation.main}}</h2>

			<div class="menu-simple-text">
				{{language.settings.navigation.showFullPathLibrary}}
				<div class="switch{{#if config.showFullPathLibrary}} a{{/if}}" on="settings.setShowFullPathLibrary(true)" off="settings.setShowFullPathLibrary(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text">
				{{language.settings.navigation.showFullPathOpened}}
				<div class="switch{{#if config.showFullPathOpened}} a{{/if}}" on="settings.setShowFullPathOpened(true)" off="settings.setShowFullPathOpened(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<h2 class="headline-small">{{language.settings.others.main}}</h2>

			<div class="menu-simple-text">
				{{language.settings.others.startInFullScreen}}
				<div class="switch{{#if config.startInFullScreen}} a{{/if}}" on="settings.setStartInFullScreen(true)" off="settings.setStartInFullScreen(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<h2 class="headline-small">{{language.settings.releases.main}}</h2>

			<div class="menu-simple-text">
				{{language.settings.releases.checkReleases}}
				<div class="switch{{#if config.checkReleases}} a{{/if}}" on="settings.setCheckReleases(true)" off="settings.setCheckReleases(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text settings-check-prereleases{{#unless config.checkReleases}} disable-pointer{{/unless}}">
				{{language.settings.releases.checkPreReleases}}
				<div class="switch{{#if config.checkPreReleases}} a{{/if}}" on="settings.setCheckPreReleases(true)" off="settings.setCheckPreReleases(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>
		</div>

		<div class="big-tabs-shortcuts">

			<h2 class="headline-small">{{language.settings.shortcuts.whenReading}}</h2>

			<div class="settings-shortcuts-table">

			</div>
		</div>
	</div>
</div>