<h2 class="headline-small">{{language.settings.tapZones.main}}</h2>

<table class="body-large full withoutThead">

	<tbody>
		{{#each tapZones}}
		<tr>
			{{#each this}}
			<td onclick="settings.changeTapZone({{@../index}}, {{@index}}, this)">
				<br>
				{{#each this}}
					{{{this}}}
					{{#unless @last}}<br><br>{{/unless}}
				{{/each}}
				<br><br>
			</td>
			{{/each}}
		</tr>
		{{/each}}
	</tbody>

</table>

<div class="simple-button filled-tonal gamepad-item" onclick="settings.restoreTapZones();">
	<div class="touch-effect"><i class="icon-24 material-icon">undo</i>{{language.settings.shortcuts.restoreDefaults}}</div>
</div>
<cb></cb>