<div class="settings-body body-medium">
	<h1 class="display-medium">{{language.global.settings}}</h1>

	<div class="tabs big-tabs">
		<div>
			<div class="title-medium gamepad-item gamepad-to-highlight active" data-name="general" data-on-end-animation="gamepad.updateBrowsableItems(gamepad.currentKey())">
				<span class="material-icon">tune</span>{{language.settings.general}}
			</div>

			<div class="title-medium gamepad-item" data-name="shortcuts" data-on-end-animation="gamepad.updateBrowsableItems(gamepad.currentKey())">
				<span class="material-icon">keyboard</span>{{language.settings.shortcuts.main}}
			</div>
		</div>
	</div>

	<div class="tabs-content">
		<div class="tabs-general active">

			<h2 class="headline-small">{{language.settings.masterFolders.main}}</h2>

			<div class="settings-master-folders">
				
				<div class="menu-simple-text menu-grey settings-master-folders-empty"{{#if masterFolders}} style="display: none;"{{/if}}>
					<span>{{language.settings.masterFolders.noFolders}}</span>
				</div>

				<div class="settings-master-folders-list"{{#unless masterFolders}} style="display: none;"{{/unless}}>
				</div>

				<div class="simple-button filled-tonal gamepad-item" onclick="settings.addMasterFolder();">
					<div class="touch-effect"><i class="icon-24 material-icon">add</i>{{language.menu.file.addFolder}}</div>
				</div>
				<cb></cb>
			</div>

			<h2 class="headline-small">{{language.settings.reading.main}}</h2>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.reading.globalZoom}}
				<div class="switch{{#if config.readingGlobalZoom}} a{{/if}}" on="settings.setGlobalZoom(true)" off="settings.setGlobalZoom(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.reading.startReadingInFullScreen}}
				<div class="switch{{#if config.readingStartReadingInFullScreen}} a{{/if}}" on="settings.setStartReadingInFullScreen(true)" off="settings.setStartReadingInFullScreen(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.reading.trackingAtTheEnd}}
				<div class="switch{{#if config.readingTrackingAtTheEnd}} a{{/if}}" on="settings.setTrackingAtTheEnd(true)" off="settings.setTrackingAtTheEnd(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="simple-slider gamepad-item" data-gamepad-left="events.rangeMoveStep(this, -1)" data-gamepad-right="events.rangeMoveStep(this, 1)" style="margin-top: 10px;">
				<div class="simple-slider-text">{{language.settings.reading.maxMargin}}<div><span>{{config.readingMaxMargin}}</span>px</div></div>
				<div class="range">
					<div class="range-position">
						<span class="range-line" style="width: 100%"></span>
						<span class="range-steps"></span>
						<div>
							<div class="range-point" position="100" style="left: 100%;"><div class="elevation-1"></div></div>
						</div>
					</div>
					<input type="range" max="3000" min="50" step="50" list="marginlist" value="{{config.readingMaxMargin}}" onrange="settings.setMaxMargin(\{{value}}, \{{toEnd}})">
				</div>
			</div>

			<h2 class="headline-small">{{language.settings.navigation.main}}</h2>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.navigation.ignoreSingleFoldersLibrary}}
				<div class="switch{{#if config.ignoreSingleFoldersLibrary}} a{{/if}}" on="settings.setIgnoreSingleFoldersLibrary(true)" off="settings.setIgnoreSingleFoldersLibrary(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.navigation.whenOpenFolderContinueReading}}
				<div class="switch{{#if config.whenOpenFolderContinueReading}} a{{/if}}" on="settings.setWhenOpenFolderContinueReading(true)" off="settings.setWhenOpenFolderContinueReading(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.navigation.showFullPathLibrary}}
				<div class="switch{{#if config.showFullPathLibrary}} a{{/if}}" on="settings.setShowFullPathLibrary(true)" off="settings.setShowFullPathLibrary(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.navigation.showFullPathOpened}}
				<div class="switch{{#if config.showFullPathOpened}} a{{/if}}" on="settings.setShowFullPathOpened(true)" off="settings.setShowFullPathOpened(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<h2 class="headline-small">{{language.settings.startupBehavior.main}}</h2>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.startupBehavior.startInFullScreen}}
				<div class="switch{{#if config.startInFullScreen}} a{{/if}}" on="settings.setStartInFullScreen(true)" off="settings.setStartInFullScreen(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.startupBehavior.startInContinueReading}}
				<div class="switch{{#if config.startInContinueReading}} a{{/if}}" on="settings.setStartInContinueReading(true)" off="settings.setStartInContinueReading(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item settings-start-only-from-library{{#unless config.startInContinueReading}} disable-pointer{{/unless}}">
				{{language.settings.startupBehavior.startOnlyFromLibrary}}
				<div class="switch{{#if config.startOnlyFromLibrary}} a{{/if}}" on="settings.setStartOnlyFromLibrary(true)" off="settings.setStartOnlyFromLibrary(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.startupBehavior.startOnStartup}} (Windows and macOS)
				<div class="switch{{#if config.startOnStartup}} a{{/if}}" on="settings.setStartOnStartup(true)" off="settings.setStartOnStartup(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<h2 class="headline-small">{{language.settings.releases.main}}</h2>

			<div class="menu-simple-text gamepad-item">
				{{language.settings.releases.checkReleases}}
				<div class="switch{{#if config.checkReleases}} a{{/if}}" on="settings.setCheckReleases(true)" off="settings.setCheckReleases(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>

			<div class="menu-simple-text gamepad-item settings-check-prereleases{{#unless config.checkReleases}} disable-pointer{{/unless}}">
				{{language.settings.releases.checkPreReleases}}
				<div class="switch{{#if config.checkPreReleases}} a{{/if}}" on="settings.setCheckPreReleases(true)" off="settings.setCheckPreReleases(false)">
					<div></div>
					<svg viewBox="0 0 52 32"><path d="M 8,0 C 3.58,0 0,3.58 0,8 0,12.42 3.58,16 8,16 8,16 8,16 8,16 12.42,16 16,12.42 16,8 16,3.58 12.42,0 8,0 8,0 8,0 8,0 Z"></path></svg>
				</div>
			</div>


			<h2 class="headline-small">{{language.settings.storage.main}}</h2>


			<div class="simple-slider gamepad-item" data-gamepad-left="events.rangeMoveStep(this, -1)" data-gamepad-right="events.rangeMoveStep(this, 1)" style="margin-top: 10px;">
				<div class="simple-slider-text">{{language.settings.storage.cacheMaxSize}}<div><span>{{config.cacheMaxSize}}</span>MB</div></div>
				<span class="simple-slider-supporting-text body-medium">{{language.settings.storage.cacheMaxSizeDescription}}</span>
				<div class="range">
					<div class="range-position">
						<span class="range-line" style="width: 100%"></span>
						<span class="range-steps"></span>
						<div>
							<div class="range-point" position="100" style="left: 100%;"><div class="elevation-1"></div></div>
						</div>
					</div>
					<input type="range" max="1024" min="32" step="32" list="marginlist" value="{{config.cacheMaxSize}}" onrange="settings.setCacheMaxSize(\{{value}}, \{{toEnd}})">
				</div>
			</div>


			<div class="simple-slider gamepad-item" data-gamepad-left="events.rangeMoveStep(this, -1)" data-gamepad-right="events.rangeMoveStep(this, 1)" style="margin-top: 10px;">
				<div class="simple-slider-text">{{language.settings.storage.cacheMaxOld}}<div><span>{{config.cacheMaxOld}}</span> {{language.global.days}}</div></div>
				<span class="simple-slider-supporting-text body-medium">{{language.settings.storage.cacheMaxOldDescription}}</span>
				<div class="range">
					<div class="range-position">
						<span class="range-line" style="width: 100%"></span>
						<span class="range-steps"></span>
						<div>
							<div class="range-point" position="100" style="left: 100%;"><div class="elevation-1"></div></div>
						</div>
					</div>
					<input type="range" max="365" min="2" step="1" list="marginlist" value="{{config.cacheMaxOld}}" onrange="settings.setCacheMaxOld(\{{value}}, \{{toEnd}})">
				</div>
			</div>

			<div class="menu-simple-text menu-simple-supporting-text gamepad-item">
				<span>
					<div>{{language.settings.storage.cache}}</div>
					<span class="body-medium">{{language.settings.storage.cacheDescription}}</span>
				</span>
				<div class="simple-button filled-tonal gamepad-item" onclick="settings.clearCache();" style="float: right;">
					<div class="touch-effect"><i class="icon-24 material-icon">mop</i>{{language.settings.storage.clearCache}}<span class="cacheSize"></span></div>
				</div>

			</div>


			<div class="menu-simple-text menu-simple-supporting-text gamepad-item">
				<span>
					<div>{{language.settings.storage.temporaryFiles}}</div>
					<span class="body-medium">{{language.settings.storage.temporaryFilesDescription}}</span>
				</span>
				<div class="simple-button filled-tonal gamepad-item" onclick="settings.removeTemporaryFiles();" style="float: right;">
					<div class="touch-effect"><i class="icon-24 material-icon">delete</i>{{language.settings.storage.removeTemporaryFiles}}<span class="temporaryFilesSize"></span></div>
				</div>
			</div>

		</div>

		<div class="tabs-shortcuts">

			<h2 class="headline-small">{{language.settings.shortcuts.whenReading}}</h2>

			<div class="settings-shortcuts-table">

			</div>
		</div>
	</div>
</div>