<div class="bar-left {{barBack}}" style="{{headerAnimationDelay}}">
	<div class="bar-back material-icon button button2" style="{{headerAnimationDelay}}">arrow_back</div>
	<div class="bar-title title-small scroll-fade-x" style="max-width: calc(100% - (68px));">
		{{language.global.theme}}
	</div>
</div>
<div class="bar-right-buttons scroll-fade-x">
	<div>
		<div class="material-icon button button2 button-night-mode hover-text" hover-text="{{language.global.nightMode}}" onclick="dom.nightMode();">{{#if config.nightMode}}dark_mode{{else}}light_mode{{/if}}</div>
	</div>
</div>