.app.blue {
	--md-ref-palette-background-1-light: #eff4fa;
	--md-ref-palette-background-2-light: #e8f0f7;
	--md-ref-palette-background-3-light: #e0ebf4;
	--md-ref-palette-background-4-light: #deeaf3;
	--md-ref-palette-background-5-light: #d9e6f2;
	--md-ref-palette-surface-1-light: #eff4fa;
	--md-ref-palette-surface-2-light: #e8f0f7;
	--md-ref-palette-surface-3-light: #e0ebf4;
	--md-ref-palette-surface-4-light: #deeaf3;
	--md-ref-palette-surface-5-light: #d9e6f2;
	--md-ref-palette-surface-variant-1-light: #d3dde7;
	--md-ref-palette-surface-variant-2-light: #ccd9e5;
	--md-ref-palette-surface-variant-3-light: #c6d5e3;
	--md-ref-palette-surface-variant-4-light: #c3d4e2;
	--md-ref-palette-surface-variant-5-light: #bfd1e0;
	--md-ref-palette-on-surface-variant-1-light: rgba(66, 71, 78, 0.05);
	--md-ref-palette-on-surface-variant-2-light: rgba(66, 71, 78, 0.08);
	--md-ref-palette-on-surface-variant-3-light: rgba(66, 71, 78, 0.11);
	--md-ref-palette-on-surface-variant-4-light: rgba(66, 71, 78, 0.12);
	--md-ref-palette-on-surface-variant-5-light: rgba(66, 71, 78, 0.14);
	--md-ref-palette-background-1-dark: #202529;
	--md-ref-palette-background-2-dark: #242a30;
	--md-ref-palette-background-3-dark: #282f37;
	--md-ref-palette-background-4-dark: #293139;
	--md-ref-palette-background-5-dark: #2c353e;
	--md-ref-palette-surface-1-dark: #202529;
	--md-ref-palette-surface-2-dark: #242a30;
	--md-ref-palette-surface-3-dark: #282f37;
	--md-ref-palette-surface-4-dark: #293139;
	--md-ref-palette-surface-5-dark: #2c353e;
	--md-ref-palette-surface-variant-1-dark: #464e57;
	--md-ref-palette-surface-variant-2-dark: #49525c;
	--md-ref-palette-surface-variant-3-dark: #4c5661;
	--md-ref-palette-surface-variant-4-dark: #4d5763;
	--md-ref-palette-surface-variant-5-dark: #4e5967;
	--md-ref-palette-on-surface-variant-1-dark: rgba(194, 199, 207, 0.05);
	--md-ref-palette-on-surface-variant-2-dark: rgba(194, 199, 207, 0.08);
	--md-ref-palette-on-surface-variant-3-dark: rgba(194, 199, 207, 0.11);
	--md-ref-palette-on-surface-variant-4-dark: rgba(194, 199, 207, 0.12);
	--md-ref-palette-on-surface-variant-5-dark: rgba(194, 199, 207, 0.14);
}