
.settings-body
{
	max-width: 1200px;
	margin: auto;
	padding: 30px 0px 30px 0px;
	width: calc(100% + 12px);
}

.settings-body h1, .settings-body h2
{
	padding: 0px 24px;
}

.settings-body h2
{
	margin: 40px 0px 10px 0px;
}

.settings-body .big-tabs-content > div
{
	padding-bottom: 60px;
}

.settings-body .big-tabs-shortcuts h2
{
	margin: 40px 0px 40px 0px;
}

.settings-body table
{
	margin: 18px 24px 0px 24px;
	width: calc(100% - 48px);
}

.settings-shortcuts-table
{
	overflow: auto;
}

.settings-shortcuts-table .simple-button
{
	float: right;
	margin: 32px 24px 6px 0px;
}

.settings-master-folders,
.settings-servers
{
	padding: 0px 24px;
}

.settings-master-folders-empty,
.settings-servers-empty
{
	padding: 0px;
	margin-bottom: 10px;
}

.settings-master-folders-list,
.settings-servers-list
{
	margin: 19px 0px 13px;
	display: flex;
	flex-wrap: wrap;
}