

.app
{
	--tabs-bar-height: 0px;
	--tabs-bar-height-always-visible: 0px;
	--tabs-bar-tab-width: 220px;
}

.app.visible-tabs-bar
{
	--tabs-bar-height: 41px;
	--tabs-bar-height-always-visible: 41px;
}

.app.visible-tabs-bar.hide-tabs-bar
{
	--tabs-bar-height: 0px;
}

.tabs-bar
{
	position: fixed;
	top: var(--title-bar-height);
	left: 0px;
	width: 100%;
	height: var(--tabs-bar-height);
	box-sizing: border-box;
	z-index: 11;
	transition: opacity 0.2s, border-color 0.2s;
	border-bottom: 1px solid var(--md-sys-color-surface-variant);
	pointer-events: none;
	opacity: 0;
}

.tabs-bar > div
{
	width: 100%;
	height: calc(var(--tabs-bar-height) - 1px);
	box-sizing: border-box;
	transition: background-color 0.2s, transform 0.2s, opacity 0.2s;
	background-color: var(--md-sys-color-surface-container);
	color: var(--md-sys-color-on-surface-variant);
	overflow: hidden;
	overflow-y: hidden;
}

.tabs-bar > div > div
{
	width: 100%;
	height: calc(var(--tabs-bar-height) - 1px);
	box-sizing: border-box;
	transition: background-color 0.2s, transform 0.2s, opacity 0.2s;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.app.visible-tabs-bar .tabs-bar
{
	opacity: 1;
	pointer-events: auto;

}

.hide-tabs-bar .tabs-bar
{
	top: calc(-64px);
}

.hide-tabs-bar .tabs-bar.show
{
	transform: translate(0px, 64px);
}

.tabs-bar .tab
{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	/*width: var(--tabs-bar-tab-width);*/
	flex: 0 0 var(--tabs-bar-tab-width);
	margin: 6px 0px 6px 6px;
	cursor: pointer;
	transition: 0.2s background-color, 0.2s color, flex 0.2s;
	border-radius: 8px;
	overflow: hidden;
}

.tabs-bar .tab.dragging
{
	background-color: var(--md-sys-color-surface-container);
	background-color: var(--md-sys-color-surface-container-highest);
}

.tabs-bar .tab.opening
{
	animation: tab-open 0.2s forwards;
}

@keyframes tab-open
{
	0%
	{
		flex: 0 0 0px;
		margin: 6px 0px 6px 0px;
	}
	100%
	{
		flex: 0 0 var(--tabs-bar-tab-width);
		margin: 6px 0px 6px 6px;
	}
}

.tabs-bar .tab.closing
{
	flex: 0 0 0px;
	margin: 6px -6px 6px 6px;
	transition:
		opacity 0.1s 0.1s,
		margin 0.2s,
		flex 0.2s;
	/*opacity: 0;*/
}

.tabs-bar .tab:last-child
{
	margin-right: 6px;
}

.tabs-bar .tab:after
{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.2s, background 0.2s;
	border-radius: 8px;
	background: var(--md-sys-color-on-surface-variant-2);
	z-index: -1;
}

.tabs-bar .tab:hover:after
{
	opacity: 1;
}

.tabs-bar .tab:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: scaleX(0.32);
	transition-duration: 0.15s, 0.15s, 0.2s;
	transition-property: transform, opacity, background;
	transition-timing-function: linear, linear, ease;
	border-radius: 8px;
	background: var(--md-sys-color-secondary-container);
	z-index: -2;
}

.tabs-bar .tab.active
{
	color: var(--md-sys-color-on-secondary-container);
}

.tabs-bar .tab.active:before
{
	opacity: 1;
	transform: scaleX(1);
}

.tabs-bar .tab.active:before
{
	background-color: var(--md-sys-color-secondary-container);
	color: var(--md-sys-color-on-secondary-container);
}

.tabs-bar .tab > div
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	width: 100%;
}

.tabs-bar .tab i
{
	transition: 0.2s color, font-variation-settings 0.2s;
}

.tabs-bar .tab i:first-of-type
{
	margin: 0px 10px 0px 6px;
}

.tabs-bar .tab i:last-of-type
{
	margin: 0px 3px;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	line-height: 20px;
	text-align: center;
	transition: 0.2s background-color, 0.2s color;
	position: relative;
	z-index: 2;
}

.tabs-bar .tab i:last-of-type:hover
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.tabs-bar .tab.active i
{
	color: var(--md-sys-color-on-secondary-container);
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.tabs-bar .tab-separator
{
	background-color: var(--md-sys-color-secondary-container);
	background-color: var(--md-sys-color-surface-variant);
	background-color: var(--md-sys-color-outline-variant);
	height: 18px;
	width: 2px;
	flex: 0 0 2px;
	border-radius: 2px;
	margin: 11px -4px 11px 2px;
	transition: 0.2s opacity, 0.2s background-color;
}

.tabs-bar .tab-separator:last-of-type,
.tabs-bar .tab-separator:has(+ .tab:hover),
.tabs-bar .tab-separator:has(+ .tab.active),
.tabs-bar .tab:hover + .tab-separator,
.tabs-bar .tab.active + .tab-separator
{
	opacity: 0;
}