/*Fonts*/

@import url('../../fonts/roboto.css');
@import url('../../fonts/material_icons.css');
@import url('./elevation.css');

/*Animations*/

@keyframes zoom-in
{
	from
	{
		transform: scale(0);
	}
	to
	{
		transform: scale(1);
	}
}

@keyframes zoom-in-mas
{
	from
	{
		transform: scale(1);
	}
	to
	{
		transform: scale(1.5);
	}
}

@keyframes zoom-out
{
	from
	{
		transform: scale(1);
	}
	to
	{
		transform: scale(0);
	}
}

@keyframes show-in
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

@keyframes show-out
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes prueba
{
	0%
	{
		opacity: 0;
	}
	20%
	{
		opacity: 1;
	}
	20%
	{
		opacity: 1;
	}
}



@keyframes button-animation-1
{
	0%
	{
		opacity: 0;
		transform: scale(0.2);
	}
	100%
	{
		opacity: 1;
		transform: scale(1.3);
	}
}

@keyframes button-animation-2
{
	0%
	{
		opacity: 1;
		transform: scale(1.3);
	}
	100%
	{
		opacity: 0;
		transform: scale(2.3);
	}
}

@keyframes button-animation-3
{
	0%
	{
		opacity: 1;
		transform: scale(1.3);
	}
	100%
	{
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes button-animation-4
{
	0%
	{
		opacity: 1;
		transform: scale(1.3);
		border-radius: 50%;
	}
	100%
	{
		opacity: 1;
		transform: scale(1);
		border-radius: 3px;
	}
}

@keyframes button-animation-5
{
	0%
	{
		opacity: 1;
		transform: scale(1);
		border-radius: 3px;
	}
	100%
	{
		opacity: 0;
		transform: scale(2.3);
		border-radius: 3px;
	}
}

@keyframes cascading-in
{
	0%
	{
		opacity: 0;
		transform: translate(0, -10px);
		display: block;
	}
	100%
	{
		opacity: 1;
		transform: translate(0, 0);
		display: block;
	}
}

@keyframes cascading-out
{
	0%
	{
		opacity: 1;
		transform: translate(0, 0);
	}
	100%
	{
		opacity: 0;
		transform: translate(0, -10px);
		visibility: hidden;
	}
}

@keyframes button-pulse
{
	0%
	{
		transform: scale(1.4);
	}
	50%
	{
		transform: scale(1.1);
	}
	100%
	{
		transform: scale(1.5);
	}
}


@keyframes hover-in
{
	0%
	{
		transform: translate(0, 4px);
		opacity: 0;
		visibility: visible;
	}
	100%
	{
		transform: translate(0, 14px);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hover-in-invert
{
	0%
	{
		transform: translate(0, -4px);
		opacity: 0;
		visibility: visible;
	}
	100%
	{
		transform: translate(0, -14px);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hover-out
{
	0%
	{
		transform: translate(0, 14px);
		opacity: 1;
		visibility: visible;

	}
	100%
	{
		transform: translate(0, 4px);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes hover-out-invert
{
	0%
	{
		transform: translate(0, -14px);
		opacity: 1;
		visibility: visible;

	}
	100%
	{
		transform: translate(0, -4px);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes bar-back-a
{
	0%
	{
		opacity: 0;
		margin-left: -50px;

	}
	100%
	{
		opacity: 1;
		margin-left: 0px;
	}
}

@keyframes bar-back-d
{
	0%
	{
		opacity: 1;
		margin-left: 0px;

	}
	100%
	{
		opacity: 0;
		margin-left: -50px;
	}
}

@keyframes skip-comic-load
{
	0%
	{
		stroke-dasharray: 187;
	}
	100%
	{
		stroke-dasharray: 376;
	}
}

@keyframes show-action-button-min
{
	0%
	{
		transform: scale(0.5);
		opacity: 0;
		visibility: visible;
	}
	100%
	{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hide-action-button-min
{
	0%
	{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
	100%
	{
		transform: scale(0.5);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes rotate
{
	100%
	{
		transform: rotate(360deg);
	}
}

@keyframes dash96
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 150, 200;
		stroke-dashoffset: -60px;
	}
	100%
	{
		stroke-dasharray: 150, 200;
		stroke-dashoffset: -201px;
	}
}


@keyframes dash48
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 84, 200;
		stroke-dashoffset: -30px;
	}
	100%
	{
		stroke-dasharray: 84, 200;
		stroke-dashoffset: -112px;
	}
}

@keyframes dash36
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 52, 200;
		stroke-dashoffset: -20px;
	}
	100%
	{
		stroke-dasharray: 52, 200;
		stroke-dashoffset: -68px;
	}
}

@keyframes dash24
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 42, 200;
		stroke-dashoffset: -16px;
	}
	100%
	{
		stroke-dasharray: 42, 200;
		stroke-dashoffset: -56px;
	}
}

/*CSS*/


body
{
	/*background-color: #eee;*/
	font-family: Roboto;
	font-weight: 400;
	color: #333;
	font-size: 13px;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
	transition: color 0.2s;
}

body .app
{
	transition: color 0.2s;
	display: none;
}

body .preload
{
	opacity: 0;
	display: block;
}

.dragging, .dragging *
{
	cursor: grabbing !important;
}

.disable-pointer
{
	opacity: 0.5;
	pointer-events: none;
	transition: 0.2s;
}

.bar-header
{
	height: 48px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px 50px;
	margin-left: -50px;
	/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);*/
	box-shadow: 0 2px 5px rgba(0,0,0, 0.26);
	background-color: #fff;
	z-index: 10;
	overflow: hidden;
	transition: background-color 0.2s;
}

.bar-header > div
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 50px;
	background-color: #fff;
	transition: background-color 0.2s;
}

.bar-header > div.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.bar-header > div > div
{
	overflow: hidden;
	height: 100%;
}


.bar-back
{
	opacity: 0;
	margin-left: -50px;
	float: left;
	cursor: default !important;
	position: relative;
}

.bar-back.show
{
	animation-name: bar-back-a;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	cursor: pointer !important;
}

.bar-back.active
{
	opacity: 1 !important;
	margin-left: 0px;
	cursor: pointer !important;
}

.bar-back.disable
{
	animation-name: bar-back-d;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	cursor: default !important;
}

.content-left
{
	position: fixed;
	top: 48px;
	left: 0px;
	width: 192px;
	height: calc(100% - 48px);
	padding: 50px 0px;
	margin-top: -50px;
	background-color: #fff;
	overflow: hidden;
	z-index: 1;
	transition: background-color 0.2s;
}

.content-left > div
{
	position: absolute;
	top: 50px;
	left: 0px;
	height: calc(100% - 100px);
	padding: 50px 0px;
	margin-top: -50px;
	width: calc(100% - 1px);
	background-color: #fff;
	/*box-shadow: inset -2px 0px 2px 0px rgba(0, 0, 0, 0.1), inset -1px 0px 1px 0px rgba(0, 0, 0, 0.1), inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05);*/
	transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
	border-right: 1px solid #e0e0e0/*#e6e6e6*/;
}

.content-left > div > div
{
	overflow: auto;
	height: 100%;
	overflow-x: hidden;
	will-change: scroll;
}

.content-left > div.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.content-left .menu-list
{
	height: 48px;
	padding-right: 16px;
	padding-left: 16px;
	box-sizing: border-box;
	width: 100%;
	line-height: 48px;
	transition: background-color 0.2s;
	cursor: pointer;
}

.content-left .menu-list:hover
{
	background-color: rgba(0, 0, 0, 0.07);
}

.content-left .menu-list > .icon-24
{
	float: left;
	margin: 12px 16px 12px 0px;
}



.content-right
{
	position: absolute;
	top: 48px;
	left: 192px;
	width: calc(100% - 192px);
	height: calc(100% - 48px);
	padding: 50px 0px;
	margin-top: -50px;
	z-index: 1;
}

.content-right > div.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.content-right > div
{
	position: absolute;
	top: 50px;
	left: 0px;
	height: calc(100% - 100px);
	padding: 50px 0px;
	margin-top: -50px;
	width: 100%;
	background-color: #eee;
	transition: background-color 0.2s;
}

.content-right > div > div
{
	overflow: auto;
	height: 100%;
	width: 100%;
	will-change: scroll;
}

.bar-right-buttons
{
	float: right;
	padding-right: 12px; 
}

.bar-right-buttons > div > div.button
{
	float: right;
	position: relative;
	margin: 0px 0px 0px 1px;
}

.content-empty
{
	position: absolute;
	width: 100% !important;
	top: 50%;
	left: 0px;
	text-align: center;
	font-size: 15px;
	margin: -5px 0px 0px 0px !important;
	box-sizing: border-box;
	padding: 0px 20px;
}

/*separators*/

.separator-1
{
	border-top: 1px solid #e6e6e6;
	transition: border-color 0.2s;
}

.bar-buttons-separator
{
	float: right;
	height: 48px;
	border-left: 1px solid #e6e6e6;
	transition: border-color 0.2s;
	margin: 0px 12px;
}

.menu-simple-separator, .menu-simple-separator-min
{
	border-top: 1px solid #e6e6e6;
	transition: border-color 0.2s;
	margin: 12px 0;
}

.menu-simple-separator-min
{
	margin-left: 24px;
	width: calc(100% - 24px)
}

.dialog-text .menu-simple-separator
{
	width: calc(100% + 48px);
	margin-left: -24px;
}

/*icons*/

.icon-24
{
	height: 24px;
	width: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
}

/*Buttons*/

.floating-action-button
{
	border-radius: 50%;
	height: 36px;
	width: 36px;
	position: fixed;
	bottom: 24px;
	right: 24px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 8px;
	background-color: #da4336;
	cursor: pointer;
	overflow: hidden;
	transition: 0.2s;
	z-index: 2;
	box-sizing: border-box;
	padding: 6px;
}

.floating-action-button.disable
{
	transform: translate(0px, 84px);
}

.floating-action-button:before
{
	content: '';
	display: block;
	width: 32px;
	height: 32px;
	opacity: 0;
	transform: scale(0);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	margin: -4px;
	position: absolute;
}

.floating-action-button.a:before
{
	animation-name: zoom-in, show-in;
	animation-duration: 0.2s, 0.2s;
	animation-fill-mode: forwards, forwards;
}

.floating-action-button.p:before
{
	animation-name: zoom-in-mas, show-out;
	animation-duration: 0.6s, 0.6s;
	animation-fill-mode: forwards, forwards;
}

.floating-action-button.c:before
{
	animation-name: zoom-out, show-out;
	animation-duration: 0.2s, 0.2s;
	animation-fill-mode: forwards, forwards;
}

.floating-action-button > div
{
	color: #fff;
	transition: 0.2s;
}

.floating-action-button-min
{
	background-color: #fff;
	visibility: hidden;
	transform: scale(0.6);
	opacity: 0;
}

.floating-action-button-min.s
{
	animation-name: show-action-button-min;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.floating-action-button-min.h
{
	animation-name: hide-action-button-min;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.floating-action-button-min:before
{
	background-color: rgba(0, 0, 0, 0.2);
}

.floating-action-button-min > div
{
	color: #808080;
}

.button
{
	height: 48px;
	width: 48px;
	background-size: 24px;
	background-position: 12px;
	background-repeat: no-repeat;
	transition: 0.2s;
	cursor: pointer;
	box-sizing: border-box;
	padding: 12px;
}

.button:hover
{
	color: #666666;
}

.night-mode .button:hover
{
	color: #cccccc;
}

.button:before
{
	content: '';
	display: block;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.12);
	transition: 0.3s;
	margin: 8px;
	opacity: 0;
	transform: scale(0);
	position: absolute;
	top: 0px;
	left: 0px;
}

/*Button 1*/

.button1.a:before
{
	/*animation-name: button-animation-1, button-pulse;
	animation-duration: 0.2s, 2s;
	animation-delay: 0s, 0.2s;
	animation-iteration-count: 1, infinite;
	animation-fill-mode: forwards, none;*/

	animation-name: button-animation-1;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.button1.p:before
{
	animation-name: button-animation-4;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.button1.d:before
{
	animation-name: button-animation-5;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.button1.c:before
{
	animation-name: button-animation-3;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

/*Button 2*/

.button2.a:before
{
	animation-name: button-animation-1;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.button2.p:before
{
	animation-name: button-animation-2;
	animation-duration: 0.2s;
	animation-fill-mode: none;
}

.button2.c:before
{
	animation-name: button-animation-3;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.bar-title
{
	float: left;
	font-size: 14px;
	line-height: 48px;
	font-weight: 400;
	height: 48px;
	margin-left: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.bar-title-a
{
	cursor: pointer;
}

.bar-title-a:hover
{
	text-decoration: underline;
}

.bar-title .navegation
{
	font-size: 18px;
	display: inline-block;
	transform: translate(0px, 4px);
	color: inherit;
	margin: 0px 2px;
}

/*Global Elements*/
/*Hover*/

.hover
{
	width: 500px;
	position: fixed;
	opacity: 0;
	text-align: center;
	z-index: 15;
	left: 0px;
	margin-left: -250px;
	visibility: hidden;
}

.hover.a
{
	animation-name: hover-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.hover.a-i
{
	animation-name: hover-in-invert;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.hover.d
{
	animation-name: hover-out;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.hover.d-i
{
	animation-name: hover-out-invert;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.hover > div
{
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	border-radius: 4px;
	background-color: #808080;
	line-height: 22px;
	font-size: 10px;
	color: #fff;
	padding: 0px 8px;
	min-height: 22px;
	/*opacity: 0.9;*/
}

/*Listas*/

.simple-list
{
	height: 49px;
	padding-right: 16px;
	padding-left: 16px;
	box-sizing: border-box;
	width: 100%;
	line-height: 48px;
	transition: 0.2s;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.simple-list:hover, .simple-list.active
{
	background-color: #eeeeee;
}

.simple-list .simple-list-image
{
	width: 32px;
	height: 32px;
	border-radius: 4px;
	float: left;
	margin: 8px 12px 8px -4px;
	float: left;
	background-size: cover;
	background-position: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.simple-list .simple-list-text
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.simple-list > .icon-24
{
	float: left;
	margin: 12px 16px 12px 0px;
}

/*Menus*/

.menu
{
	position: relative;
}

.menu-close
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 11;
	display: none;
}

.menu-close.a
{
	display: block;
}

.menu-simple
{
	position: fixed;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	opacity: 0;
	z-index: 12;
	/*box-shadow: 0 0px 3px 1px rgba(0,0,0,0.14), 0 2px 3px rgba(0,0,0,0.14);*/
	display: none;
	padding: 12px 0px;
	font-size: 15px;
	overflow: auto;
}

.menu-simple-header
{
	max-height: calc(100vh - 88px);
}

.menu-simple.a
{
	animation-name: cascading-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	display: block;
}

.menu-simple.d
{
	animation-name: cascading-out;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	display: block;
}

.menu-simple .menu-simple
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu-simple .menu-simple .menu-simple
{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.menu-simple .menu-simple .menu-simple .menu-simple
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-simple .menu-simple .menu-simple .menu-simple .menu-simple
{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.menu-simple-element
{
	height: 32px;
	padding: 0px 24px;
	line-height: 32px;
	cursor: pointer;
	transition: 0.2s;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.menu-simple-element i
{
	float: right;
	padding: 4px 0px 4px 8px;	
}

.menu-simple-element i.menu-simple-icon-last
{
	margin-right: -8px;
}

.menu-simple-element i.menu-simple-icon-first
{
	margin: 0px 0px 0px -2px;
	padding: 4px 8px 4px 0px;
	float: left;
}

.menu-simple-element-icon2
{
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
    max-width: 184px;
}

.menu-simple-element-icon-select
{
	transition: 0.2s;
	opacity: 0;
}

.menu-simple-element-icon-select.active
{
	opacity: 1;
}

.menu-simple-element.s
{
	background-color: rgba(0, 0, 0, 0.07);
}

.menu-simple:hover .menu-simple-element.s
{
	background-color: rgba(0, 0, 0, 0);
}

.menu-simple-element:hover
{
	background-color: rgba(0, 0, 0, 0.07) !important;
}

.menu-simple-element-image
{
	height: 24px;
	width: 24px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 4px 6px 0px 0px;
	float: left;
}

.menu-simple-element-little
{
	padding: 4px 24px;
}

.menu-simple-element-medium
{
	padding: 8px 24px;
}

.menu-simple-element-medium .menu-simple-element-image
{
	height: 32px;
	width: 32px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0px 6px 0px 0px;
	float: left;
}

.menu-simple-element-poster
{
	height: 72px;
	padding: 8px 24px;
	line-height: 72px;
}

.menu-simple-element-poster .menu-simple-element-image
{
	height: 72px;
	width: 48px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0px 12px 0px 0px;
	float: left;
}

.menu-tracking-sites .menu-simple-element-image
{
	margin-right: 12px;
}

.menu-simple-text, .menu-simple-button
{
	height: 32px;
	padding: 0px 24px;
	line-height: 32px;
	transition: 0.2s;
}

.dialog-text .menu-simple-text
{
	padding: 0px;
	font-size: 15px;
	font-weight: normal;
	color: #333;
}

.menu-simple-button
{
	height: 36px;
}

/* Dialog */

@keyframes dialog-show
{
	from
	{
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.85);
	}
	to
	{
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes dialog-hide
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}

@keyframes dialog-close-show
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

@keyframes dialog-close-hide
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}

.dialog
{
	border-radius: 4px;
	background-color: #fff;
	position: fixed;
	width: 280px;
	left: 50%;
	top: 50%;
	max-height: calc(100vh - 32px);
	max-width: calc(100vw - 32px);
	animation-fill-mode: forwards;
	animation-name: dialog-show;
	animation-duration: 0.25s;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	/*will-change: transform opacity;*/
	z-index: 120;
	transform: translate(-50%, -50%);
	overflow: auto;
}

.dialog.hide
{
	animation-fill-mode: forwards;
	animation-name: dialog-hide;
	animation-duration: 0.15s;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.dialog-header
{
	font-size: 20px;
	line-height: 28px;
	padding: 0px 0px;
	color: rgba(0, 0, 0, 0.87);
	font-weight: 500;
	padding: 20px 24px 12px 24px;
}

.dialog-text
{
	font-size: 16px;
	line-height: 24px;
	padding: 0px 0px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 500;
	padding: 0px 24px 20px 24px;
}

.dialog-not-header
{
	padding: 20px 24px 20px 24px;
	height: 100%;
	box-sizing: border-box;
}

.dialog-buttons
{
	float: right;
	padding: 8px;
}

.dialog-buttons .simple-button
{
	margin-left: 8px; 
}

.dialog-scroll-header
{
	border-top: 1px solid #e0e0e0;
	margin-top: 4px;
}

.dialog-scroll-bottom
{
	border-top: 1px solid #e0e0e0;
}

.dialog-scroll
{
	overflow: auto;
	box-sizing: border-box;
	padding: 20px 24px 20px 24px;
	max-height: calc(100vh - 98px);
}

.dialog-scroll-buttons
{
	max-height: calc(100vh - 98px);
}

.dialog-close
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 119;
	background-color: rgba(0, 0, 0, 0.32);
	animation-fill-mode: forwards;
	animation-name: dialog-close-show;
	animation-duration: 0.15s;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.dialog-close.hide
{
	animation-fill-mode: forwards;
	animation-name: dialog-close-hide;
	animation-duration: 0.15s;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Snackbar */

@keyframes snackbarShow
{
	from
	{
		opacity: 0;
		transform: scale(0.9);
	}
	to
	{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes snackbarHide
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}

.snackbars .snackbar
{
	min-height: 48px;
	background-color: #323232;
	border-radius: 4px;
	position: fixed;
	bottom: 8px;
	left: 8px;
	width: calc(100% - 16px);
	animation-fill-mode: forwards;
	animation-name: snackbarShow;
	animation-duration: 0.2s;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	z-index: 130;
}

@media (min-width: 600px)
{
	.snackbars .snackbar
	{
		width: 440px !important;
	}
}

.snackbars .snackbar.hide
{
	animation-fill-mode: forwards;
	animation-name: snackbarHide;
	animation-duration: 0.1s;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.snackbars .snackbarText
{
	padding: 14px 16px;
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;
	float: left;
}

.snackbar-buttons
{
	float: right;
}

.snackbars .snackbar .simple-button
{
	position: relative;
	margin: 6px 8px 6px 0px;
	float: right;
}

/* Input */
.input
{
	height: 56px;
	box-sizing: border-box;
	border: 2px solid #999999;
	border-radius: 4px;
	font-size: 16px;
	padding: 0px 14px;
	width: 100%;
	/*transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);*/
	transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
	outline: none;
	background-color: transparent;
}

.input:focus
{
	border: 2px solid #da4336;
	padding: 0px 14px;
}

.input-margin-top
{
	margin-top: 16px;
}

/* Buttons */

.simple-button
{
	box-sizing: border-box;
	float: left;
	transition: opacity 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
	cursor: pointer;
}

.simple-button.disable
{
	opacity: .4;
	pointer-events: none;
}

.simple-button.big
{
	width: 100%;
}

.simple-button > div
{
	height: 36px;
	width: 100%;
	line-height: 36px;
	border-radius: 4px;
	border: 0px;
	padding: 0px 16px;
	box-sizing: border-box;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
}


.simple-button.white > div
{
	background-color: #fff;
}

.simple-button.transparent > div
{
	background-color: transparent;
	color: #da4336;
	padding: 0px 8px;
} 

.simple-button.outlined > div
{
	background-color: transparent;
	color: #da4336;
	border: 1px solid #e0e0e0;
	line-height: 34px;
}

.simple-button.normal > div
{
	border: 1px solid #da4336;
	background-color: #da4336;
	line-height: 34px;
	color: #fff;
} 


/*Content View*/

.content-view-module > div
{
	width: 150px;
	height: 273px;
	margin: 16px 0px 16px 16px;
	float: left;
}

.content-view-module .v-folder
{
	width: 150px;
	height: 225px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #fff;
	overflow: hidden;
	cursor: pointer;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	transition: background-color 0.2s;
}

.content-view-module .v-img
{
	width: 150px;
	height: 225px;
	cursor: pointer;
	line-height: 225px;
	text-align: center;
}

.content-view-module .v-img > img
{
	max-width: 150px;
	max-height: 225px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #fff;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.content-view-module .v-img > img.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.content-view-module .v-text
{
	height: 48px;
	width: 150px;
	line-height: 48px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.content-view-module .folder-images
{
	width: 60px;
	height: 97px;
	margin: 10px 0px 0px 10px;
	background-size: 100%;
	background-position: 50%;
	border-radius: 4px;
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	box-sizing: border-box;
	float: left;
	background-repeat: no-repeat;
	line-height: 97px;
	text-align: center;
}

.content-view-module .folder-images > img
{
	max-width: 60px;
	max-height: 97px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.content-view-module .folder-images > img.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

/* Continue reading */

.continue-reading
{
	height: 49px;
	position: relative;
	overflow: hidden;
}

.continue-reading > div
{
	background-color: #da4336;
	height: 49px;
	box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
	position: absolute;
	width: 100%;
	padding: 10px 10px 0px 10px;
	left: -10px;
	top: -10px;
	cursor: pointer;
}

.continue-reading > div > div
{
	width: 32px;
	height: 32px;
	border-radius: 4px;
	float: left;
	margin: 8px 12px 8px 12px;
	float: left;
	background-size: cover;
	background-position: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.continue-reading > div > span
{
	line-height: 48px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	color: #fff;
	display: block;
	padding-right: 16px;
}

.continue-reading .navegation
{
	color: #fff;
	font-size: 16px;
	display: inline-block;
	transform: translate(0px, 4px);
	margin: 0px 2px;
}

/*Controls*/

.switch
{
	width: 36px;
	height: 14px;
	border-radius: 18px;
	background-color: #b0afaf;
	position: relative;
	transition: 0.2s;
	float: right;
	margin-top: 9px;
	cursor: pointer;
}

.switch:before
{
	content: '';
	display: block;
	position: absolute;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	top: -3px;
	left: -3px;
	background-color: #f1f1f1;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 0 0 16px rgba(0, 108, 181, 0), 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px 0 rgba(0, 0, 0, 0.14);
	transition: 0.2s;
}

.switch.a
{
	background-color: rgba(218, 67, 54, 0.3);
}

.switch.a:before
{
	transform: translate(22px, 0px);
	background-color: rgba(218, 67, 54, 1) !important;
}

.simple-slider
{
	min-height: 64px;
	padding: 0px 24px 15px 24px;
	transition: 0.2s;
	box-sizing: border-box;
}

.simple-slider-text
{
	min-height: 32px;
	line-height: 32px;
	transition: 0.2s;
	margin-bottom: 15px;
}

.simple-slider-text > div
{
	float: right;
	color: #666;
}

.simple-slider .range
{
	display: block;
	
}

.range
{
	-webkit-appearance: none !important;
	height: 30px;
	outline: 0px;
	width: 100%;
	cursor: pointer;
	transition: 0.2s;
	margin: -14px 0px;
}

.range::-webkit-slider-runnable-track
{
	width: 100%;
	height: 2px;
	background: rgba(218, 67, 54, 1);
	border: none;
}

.range.d
{
	background: #b0b0b0;
}

.range::-webkit-slider-thumb
{
	-webkit-appearance: none !important;
	background: rgba(218, 67, 54, 1);
	height: 12px;
	width: 12px;
	border-radius: 100px;
	outline: 0px;
	transition: 0.2s;
	border: 0px solid #fff;
	margin-top: -5px;
}

.range.d::-webkit-slider-thumb
{
	-webkit-appearance: none !important;
	border: 2px solid #fff;
	background: #b0b0b0;
}
	


.range::-webkit-slider-thumb:active
{
	transform: scale(1.3333);
}

.range.d::-webkit-slider-thumb:active
{
	transform: scale(1);
}

/*Reading - Start*/

.reading-left
{
	width: 100%;
	padding: 16px 16px 16px 0px;
	cursor: pointer;
	position: relative;
	transition: border 0.2s, background-color 0.2s;
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
	font-size: 0px;
}

.reading-left:hover, .reading-left.s
{
	background-color: rgba(0, 0, 0, 0.07);
}

.reading-left i
{
	text-align: center;
	margin-left: 96px;
	width: 80px;
	font-size: 24px;
	display: block;
	margin-left: calc(100% - 80px);
}

.reading-images
{
	width: 80px;
	border-radius: 4px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-left: calc(100% - 80px);
}

.reading-number
{
	width: calc(100% - 96px);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	text-align: center;
	font-size: 15px;
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	color: #333;
	transition: 0.2s color;
}

.reading-body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	contain: paint;
}

.reading-body > div
{
	width: 100%;
	height: 100%;
	position: relative;
	will-change: transform;
	overflow: hidden;
}

.reading-body .r-flex, .reading-lens .r-flex
{
	float: left;
	display: flex;
	position: relative;
}

.reading-body .r-img
{
	height: 100%;
}

.reading-body .r-img > img, .reading-lens .r-img > img, .reading-body .r-img.blank > div, .reading-lens .r-img.blank > div/*, .reading-body .r-folder, .reading-lens .r-folder*/
{
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 2px;
	background-color: #fff;
	display: block;
}

.reading-body .r-folder, .reading-lens .r-folder
{
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
}

.reading-body .r-folder > div, .reading-lens .r-folder > div
{
	width: 100%;
	height: 116px;
	position: relative;
	top: calc(50% - 58px);
	text-align: center;
}

.reading-body .r-folder .r-folder-img, .reading-lens .r-folder .r-folder-img
{
	width: 96px;
	background-repeat: no-repeat;
	background-size: 96px;
	font-size: 96px;
	height: 96px;
	display: inline-block;
}

.reading-body .r-folder .r-folder-name, .reading-lens .r-folder .r-folder-name
{
	font-size: 28px;
	height: 40px;
	line-height: 40px;
	padding: 0px 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	margin-top: -10px;
}

.reading-lens
{
	position: fixed;
	/* display: none; */
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.26);
	width: 200px;
	height: 160px;
	top: 0px;
	left: 0px;
	background-color: #eee;
	overflow: hidden;
	opacity: 0;
	z-index: 3;
	transition: background-color 0.2s;
	contain: strict;
}

.reading-lens > div
{
	transform-origin: center top;
}

.reading-lens.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	cursor: none;
	will-change: transform;
}

.reading-lens.a > div
{
	will-change: transform;
}

.reading-lens.d
{
	animation-name: show-out;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.reading-lens.h
{
	visibility: hidden;
}

.reading-skip > div
{
	background-color: #fff;
	position: absolute;
	z-index: 1;
	box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
	transition: background-color 0.2s, box-shadow 0.2s;
}

.reading-skip .reading-skip-top
{
	height: 120px;
	width: calc(100% + 40px);
	top: -120px;
	left: -20px;
}

.reading-skip .reading-skip-bottom
{
	height: 120px;
	width: calc(100% + 40px);
	bottom: -120px;
	left: -20px;
}

.reading-skip .reading-skip-left
{
	height: calc(100% + 40px);
	width: 120px;
	top: -20px;
	left: -120px;
}

.reading-skip .reading-skip-right
{
	height: calc(100% + 40px);
	width: 120px;
	top: -20px;
	right: -120px;
}

.reading-skip .reading-skip-top svg
{
	margin-left: -30px;
	margin-top: -20px;
}

.reading-skip .reading-skip-bottom svg
{
	margin-left: -30px;
	margin-top: -40px;
}

.reading-skip .reading-skip-left svg
{
	margin-left: -20px;
	margin-top: -30px;
}

.reading-skip .reading-skip-right svg
{
	margin-left: -40px;
	margin-top: -30px;
}

.reading-skip svg
{
	width: 60px;
	height: 60px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}

.reading-skip circle
{
	fill: none;
	stroke-width: 6;
	stroke: #da4336;
	stroke-dashoffset: 187;
	stroke-dasharray: 187;
	transform: rotate(-90deg);
	transform-origin: center;
}

.reading-skip circle.a
{
	animation-name: skip-comic-load;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.reading-bookmark, .menu-tracking-sites, .menu-tracking-sites-empty
{
	padding: 0px 24px;
	color: #777;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.menu-tracking-sites
{
	padding: 8px 24px;
}

.reading-bookmark > span, .menu-tracking-sites > span, .menu-tracking-sites-empty > span
{
	padding-right: 6px;
	color: #333;
}

.menu-tracking-sites > span
{
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	max-width: 110px;
}

.menu-simple-text.menu-tracking-sites > span
{
	width: initial;
}

.menu-tracking-sites-problem > span
{
	max-width: 170px;
}

.menu-tracking-sites-problem i
{
	padding: 4px 8px 0px 0px;
	float: left;
}

/* Tracking */

.tracking-search
{
	min-height: calc(100% - 36px);
	position: relative;
	width: calc(100% + 48px);
	margin-left: -24px;
	padding: 8px 0px;
	box-sizing: border-box;
}

.tracking-search-empty
{
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	box-sizing: border-box;
	transform: translate(0px, -50%);
}

.tracking-current
{
	height: 144px;
	padding: 0px 0px 16px 0px;
	line-height: 36px;
}

.tracking-current .tracking-current-image
{
	height: 144px;
	width: 96px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0px 12px 0px 0px;
	float: left;
}

.tracking-current > span
{
	padding: 0px;
	float: left;
	width: calc(100% - 140px);
	overflow: hidden;
	height: 84px;
	word-break: break-all;
}

.tracking-current-progress
{
	float: left;
	width: calc(100% - 140px);
}

.tracking-current-progress > div
{
	margin-bottom: -10px;
}

.tracking-current > i
{
	float: right;
	cursor: pointer;
}

.tracking-set-message
{
	font-size: 15px;
	font-weight: normal;
	color: #333;
	padding: 8px 0px 4px 0px;
}

/* Loading */

.loading
{

}

.loading.align
{
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	contain: strict;
	transform: translate(-50%, -50%);
}

.loading96
{
	width: 96px;
	height: 96px;
}

.loading48
{
	width: 48px;
	height: 48px;
}

.loading36
{
	width: 36px;
	height: 36px;
}

.loading24
{
	width: 24px;
	height: 24px;
}

.loading > svg
{
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loading > svg > circle
{
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	stroke: #da4336;
	transition: 0.3s stroke-dasharray;
}

.loading96 > svg > circle
{
	animation: dash96 1.5s ease-in-out infinite;
}

.loading48 > svg > circle
{
	animation: dash48 1.5s ease-in-out infinite;
}

.loading36 > svg > circle
{
	animation: dash36 1.5s ease-in-out infinite;
}

.loading24 > svg > circle
{
	animation: dash24 1.5s ease-in-out infinite;
}

.loading96 > svg > circle
{
	cx: 96;
	cy: 96;
	r: 32;
	fill: none;
	stroke-width: 6;
	stroke-linecap: square;
}

.loading48 > svg > circle
{
	cx: 48;
	cy: 48;
	r: 18;
	fill: none;
	stroke-width: 4;
	stroke-linecap: square;
}

.loading36 > svg > circle
{
	cx: 36;
	cy: 36;
	r: 11;
	fill: none;
	stroke-width: 3;
	stroke-linecap: square;
}

.loading24 > svg > circle
{
	cx: 24;
	cy: 24;
	r: 9;
	fill: none;
	stroke-width: 2;
	stroke-linecap: square;
}

/*Scrolrl*/



::-webkit-scrollbar
{
	width: 14px;
	height: 14px;
	border-left: 1px solid #e6e6e6;
	/*background-color: #f5f5f5;*/
	background-color: #fff;
	transition: background-color 0.2s, border-color 0.2s;
}

::-webkit-scrollbar-thumb
{
	border-radius: 16px;
	width: 14px;
	height: 14px;
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, 0.2);
	border: 5px solid transparent;
	border-right: 4px solid transparent;
	transition: background-color 0.2s, border-color 0.2s;
}

::-webkit-scrollbar-thumb:hover
{
	background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active
{
	background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive
{
	background-color: rgba(0, 0, 0, 0.12);
}

/*Night Theme*/

body .night-mode
{
	color: #fff;
	background-color: #212121;
}

.night-mode .dialog-text .menu-simple-text,
.night-mode .tracking-set-message,
.night-mode .input
{
	color: #fff;
}

.night-mode .content-right > div
{
	/*background-color: #303030;*/
	background-color: #141414;
}

.night-mode .content-right,
.night-mode .bar-header,
.night-mode .bar-header > div,
.night-mode .reading-lens,
.night-mode .content-left,
.night-mode .content-left > div,
.night-mode .menu-simple,
.night-mode .content-view-module .v-folder,
.night-mode .dialog,
.night-mode .floating-action-button-min,
.night-mode input
{
	background-color: #212121;
}

.night-mode .reading-number
{
	color: #fff;
}

.night-mode .reading-skip > div
{
	background-color: #212121;
	box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0), inset 0px 0px 2px 1px rgba(0, 0, 0, 0), inset 0px 0px 1px 1px rgba(0, 0, 0, 0);
}

.night-mode .simple-list
{
	background-color: #212121;
	border-bottom: 1px solid #414141;
}

.night-mode .dialog-header
{
	color: rgba(255, 255, 255, 0.96);
}

.night-mode .dialog-text
{
	color: rgba(255, 255, 255, 0.6);
}

.night-mode .reading-left
{
	border-bottom: 1px solid #414141;
	color: #fff;
}

.night-mode .content-left > div
{
	box-shadow: inset -2px 0px 2px 0px rgba(0, 0, 0, 0), inset -1px 0px 1px 0px rgba(0, 0, 0, 0), inset -1px 0px 0px 0px rgba(0, 0, 0, 0);
}

.night-mode .reading-bookmark, .night-mode .menu-tracking-sites, .night-mode .menu-tracking-sites-empty
{
	color: #ccc;
}

.night-mode .reading-bookmark > span, .night-mode .menu-tracking-sites > span, .night-mode .menu-tracking-sites-empty > span
{
	color: #fff;
}

.night-mode .hover > div
{
	background-color: #444;
}

/*Controls Night Theme*/

.night-mode .switch
{
	background-color: #717171;
}

.night-mode .switch:before
{
	background-color: #bdbdbd;
}

.night-mode .content-left > div
{
	border-right: 1px solid #414141;
}

.night-mode .separator-1
{
	border-top: 1px solid #414141;
}

.night-mode .bar-buttons-separator
{
	border-left: 1px solid #414141;
}

.night-mode .menu-simple-separator,
.night-mode .menu-simple-separator-min
{
	border-top: 1px solid #414141;
}

.night-mode .menu-simple-element.s,
.night-mode .content-left .menu-list:hover,
.night-mode .reading-left:hover,
.night-mode .reading-left.s,
.night-mode .simple-list:hover,
.night-mode .simple-list:hover,
.night-mode .simple-list.active
{
	background-color: rgba(255, 255, 255, 0.14);
}

.night-mode .menu-simple-element:hover
{
	background-color: rgba(255, 255, 255, 0.14) !important;
}

.night-mode ::-webkit-scrollbar
{
	border-left: 1px solid #414141;
	background-color: #212121;
}

.night-mode ::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0.2);
}

.night-mode ::-webkit-scrollbar-thumb:hover
{
	background-color: rgba(255, 255, 255, 0.3);
}

.night-mode ::-webkit-scrollbar-thumb:active
{
	background-color: rgba(255, 255, 255, 0.4);
}

.night-mode ::-webkit-scrollbar-thumb:window-inactive
{
	background-color: rgba(255, 255, 255, 0.12);
}