/* Imports */

/* Fonts */

@import url('../../fonts/roboto.css');
@import url('../../fonts/material_icons.css');

/* Theme  */

@import url('./elevation.css');
@import url('./actions.css');
@import url('./reading.css');
@import url('./settings.css');
@import url('./theme-page.css');
@import url('./drag-and-drop.css');
@import url('./gamepad.css');
@import url('./colors/all.colors.css');

/* Animations */

@keyframes zoom-in
{
	from
	{
		transform: scale(0);
	}
	to
	{
		transform: scale(1);
	}
}

@keyframes zoom-in-mas
{
	from
	{
		transform: scale(1);
	}
	to
	{
		transform: scale(1.5);
	}
}

@keyframes zoom-out
{
	from
	{
		transform: scale(1);
	}
	to
	{
		transform: scale(0);
	}
}

@keyframes show-in
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

@keyframes show-out
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes prueba
{
	0%
	{
		opacity: 0;
	}
	20%
	{
		opacity: 1;
	}
	20%
	{
		opacity: 1;
	}
}



@keyframes button-animation-1
{
	0%
	{
		opacity: 0;
		transform: scale(0.2);
	}
	100%
	{
		opacity: 1;
		transform: scale(1.3);
	}
}

@keyframes button-animation-2
{
	0%
	{
		opacity: 1;
		transform: scale(1.3);
	}
	100%
	{
		opacity: 0;
		transform: scale(2.3);
	}
}

@keyframes button-animation-3
{
	0%
	{
		opacity: 1;
		transform: scale(1.3);
	}
	100%
	{
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes button-animation-4
{
	0%
	{
		opacity: 1;
		transform: scale(1.3);
		border-radius: 50%;
	}
	100%
	{
		opacity: 1;
		transform: scale(1);
		border-radius: 6px;
	}
}

@keyframes button-animation-5
{
	0%
	{
		opacity: 1;
		transform: scale(1);
		border-radius: 6px;
	}
	100%
	{
		opacity: 0;
		transform: scale(2.3);
		border-radius: 6px;
	}
}

@keyframes cascading-in
{
	0%
	{
		opacity: 0;
		transform: translate(0, -10px);
		display: block;
	}
	100%
	{
		opacity: 1;
		transform: translate(0, 0);
		display: block;
	}
}

@keyframes cascading-out
{
	0%
	{
		opacity: 1;
		transform: translate(0, 0);
	}
	100%
	{
		opacity: 0;
		transform: translate(0, -10px);
		visibility: hidden;
	}
}

@keyframes button-pulse
{
	0%
	{
		transform: scale(1.4);
	}
	50%
	{
		transform: scale(1.1);
	}
	100%
	{
		transform: scale(1.5);
	}
}


@keyframes hover-in
{
	0%
	{
		transform: translate(0, 4px);
		opacity: 0;
		visibility: visible;
	}
	100%
	{
		transform: translate(0, 14px);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hover-in-invert
{
	0%
	{
		transform: translate(0, -4px);
		opacity: 0;
		visibility: visible;
	}
	100%
	{
		transform: translate(0, -14px);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hover-out
{
	0%
	{
		transform: translate(0, 14px);
		opacity: 1;
		visibility: visible;

	}
	100%
	{
		transform: translate(0, 4px);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes hover-out-invert
{
	0%
	{
		transform: translate(0, -14px);
		opacity: 1;
		visibility: visible;

	}
	100%
	{
		transform: translate(0, -4px);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes bar-back-a
{
	0%
	{
		opacity: 0;
		margin-left: -50px;

	}
	100%
	{
		opacity: 1;
		margin-left: 0px;
	}
}

@keyframes bar-back-d
{
	0%
	{
		opacity: 1;
		margin-left: 0px;

	}
	100%
	{
		opacity: 0;
		margin-left: -50px;
	}
}

@keyframes skip-comic-load
{
	0%
	{
		stroke-dasharray: 187;
	}
	100%
	{
		stroke-dasharray: 376;
	}
}

@keyframes show-action-button-min
{
	0%
	{
		transform: scale(0.5);
		opacity: 0;
		visibility: visible;
	}
	100%
	{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hide-action-button-min
{
	0%
	{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
	100%
	{
		transform: scale(0.5);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes rotate
{
	100%
	{
		transform: rotate(360deg);
	}
}

@keyframes dash96
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 150, 200;
		stroke-dashoffset: -60px;
	}
	100%
	{
		stroke-dasharray: 150, 200;
		stroke-dashoffset: -201px;
	}
}


@keyframes dash48
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 84, 200;
		stroke-dashoffset: -30px;
	}
	100%
	{
		stroke-dasharray: 84, 200;
		stroke-dashoffset: -112px;
	}
}

@keyframes dash36
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 52, 200;
		stroke-dashoffset: -20px;
	}
	100%
	{
		stroke-dasharray: 52, 200;
		stroke-dashoffset: -68px;
	}
}

@keyframes dash24
{
	0%
	{
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50%
	{
		stroke-dasharray: 42, 200;
		stroke-dashoffset: -16px;
	}
	100%
	{
		stroke-dasharray: 42, 200;
		stroke-dashoffset: -56px;
	}
}

@keyframes blink
{
	0%
	{
		border-color: rgba(180, 180, 180, 1);
	}
	50%
	{
		border-color: rgba(180, 180, 180, 0.2);
	}
	100%
	{
		border-color: rgba(180, 180, 180, 1);
	}
}

/* CSS */


body
{
	/*background-color: #eee;*/
	font-family: Roboto;
	font-weight: 400;
	color: #333;
	font-size: 13px;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
	transition: color 0.2s;
}

body .app
{
	transition: color 0.2s;
	display: none;
}

body .app > *
{
	color: var(--md-sys-color-on-surface);
}

body .preload
{
	opacity: 0;
	display: block;
}

.dragging, .dragging *
{
	cursor: grabbing !important;
}

.disable-pointer
{
	opacity: 0.5;
	pointer-events: none;
	transition: 0.2s;
}

.bar-header
{
	height: 48px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px 50px;
	margin-left: -50px;
	background-color: var(--md-sys-color-surface-container);
	z-index: 10;
	overflow: hidden;
	transition: background-color 0.2s, transform 0.2s;
}

.hide-bar-header .bar-header
{
	top: -64px;
	box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.26);
}

.hide-bar-header .bar-header.show
{
	transform: translate(0px, 64px);
}

.bar-header > div
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 50px;
	background-color: var(--md-sys-color-surface-container);
	transition: background-color 0.2s;
}

.bar-header > div.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.bar-header > div > div
{
	overflow: hidden;
	height: 100%;
}


.bar-back
{
	opacity: 0;
	margin-left: -50px;
	float: left;
	cursor: default !important;
	position: relative;
}

.bar-back.show
{
	animation-name: bar-back-a;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	cursor: pointer !important;
}

.bar-back.active
{
	opacity: 1 !important;
	margin-left: 0px;
	cursor: pointer !important;
}

.bar-back.disable
{
	animation-name: bar-back-d;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	cursor: default !important;
}

.content-left
{
	position: fixed;
	top: 48px;
	left: 0px;
	width: 192px;
	height: calc(100% - 48px);
	padding: 50px 0px;
	margin-top: -50px;
	background-color: var(--md-sys-color-surface-container);
	overflow: hidden;
	z-index: 1;
	transition: background-color 0.2s;
}

.hide-content-left .content-left
{
	z-index: 2;
	left: -220px;
	box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.26);
	transition: transform 0.2s;
}

.hide-content-left .content-left.show
{
	transform: translate(220px, 0px);
}

.content-left > div
{
	position: absolute;
	top: 50px;
	left: 0px;
	height: calc(100% - 100px);
	padding: 50px 0px;
	margin-top: -50px;
	width: 100%;
	background-color: var(--md-sys-color-surface-container);
	/*box-shadow: inset -2px 0px 2px 0px rgba(0, 0, 0, 0.1), inset -1px 0px 1px 0px rgba(0, 0, 0, 0.1), inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05);*/
	transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.hide-content-left .content-left > div
{
	width: 100%;
	border-right: 0px solid #e0e0e0;
}

.hide-bar-header .content-left > div
{
	height: calc(100% - 50px);
	top: 0px;
}

.content-left > div > div
{
	overflow: auto;
	height: 100%;
	overflow-x: hidden;
	will-change: scroll;
	scrollbar-gutter: stable;
}

.content-left > div.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}


.content-left .menu-list
{
	padding-top: 10px;
}

.content-left .menu-item
{
	height: 48px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    width: calc(100% - 12px);
    line-height: 48px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 0px 0px 0px 12px;
    border-radius: 56px;
    position: relative;
    overflow: hidden;
    color: var(--md-sys-color-on-surface-variant);
}

.content-left .menu-item:hover
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.content-left .menu-item:active,
.content-left .menu-item.gamepad-highlight
{
	background-color: var(--md-sys-color-on-surface-variant-4);
}

.content-left .menu-item:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: scaleX(0.32);
	transition-duration: 0.15s, 0.15s, 0.2s;
	transition-property: transform, opacity, background;
	transition-timing-function: linear, linear, ease;
	border-radius: 100px;
	background: var(--md-sys-color-secondary-container);
	z-index: -1;
}

.content-left .menu-item.active
{
	color: var(--md-sys-color-on-secondary-container);
}

.content-left .menu-item.active:before
{
	opacity: 1;
	transform: scaleX(1);
}

.content-left .menu-item.active:before
{
	background-color: var(--md-sys-color-secondary-container);
	color: var(--md-sys-color-on-secondary-container);
}

.content-left .menu-item .material-icon
{
	color: var(--md-sys-color-on-secondary-container);
	transition: font-variation-settings 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.content-left .menu-item.active .material-icon
{
	color: var(--md-sys-color-on-secondary-container);
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.content-left .menu-item > .icon-24
{
	float: left;
	margin: 12px 12px 12px 0px;
}



.content-right
{
	position: absolute;
	top: 48px;
	left: 192px;
	width: calc(100% - 192px);
	height: calc(100% - 48px);
	z-index: 1;
	background-color: var(--md-sys-color-surface-container);
	transition: background-color 0.2s;
}

.hide-content-left .content-right
{
	width: 100%;
	left: 0px;
}

.hide-bar-header .content-right
{
	height: 100%;
	top: 0px;
}

.content-right > div.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.content-right > div
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	padding: 0px 0px;
	margin-top: 0px;
	width: 100%;
	background-color: var(--md-sys-color-background);
	transition: background-color 0.2s;
    overflow: hidden;
    border-top-left-radius: 16px;
}

.content-right > div > div
{
	overflow: auto;
	height: 100%;
	width: 100%;
	will-change: scroll;
    scrollbar-gutter: stable;
    overflow-x: hidden;
}

.bar-right-buttons
{
	float: right;
	max-width: calc(100% - 160px);
	overflow-x: auto;
	overflow-y: hidden;
	height: 48px;
}

.bar-right-buttons > div
{
	min-width: max-content;
	height: 48px;
	padding-right: 12px;
	overflow: hidden;
}

.bar-right-buttons > div > div.button
{
	float: right;
	position: relative;
	margin: 0px 0px 0px 1px;
	transition: font-variation-settings 0.15s cubic-bezier(0.4, 0, 0.2, 1), all 0.2s;
}

.bar-right-buttons > div > div.button.fill
{
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.content-empty
{
	position: absolute;
	width: 100% !important;
	top: 50%;
	left: 0px;
	text-align: center;
	font-size: 15px;
	margin: -5px 0px 0px 0px !important;
	box-sizing: border-box;
	padding: 0px 20px;
}

/* separators */

.separator-1
{
	border-top: 1px solid var(--md-sys-color-surface-variant);
	transition: border-color 0.2s;
}

.separator-2
{
	border-top: 1px solid var(--md-sys-color-surface-variant);
	transition: border-color 0.2s;
	margin: 8px 0px;
}

.bar-buttons-separator
{
	float: right;
	height: 48px;
	border-left: 1px solid var(--md-sys-color-surface-variant);
	transition: border-color 0.2s;
	margin: 0px 12px;
}

.menu-simple-separator, .menu-simple-separator-min
{
	border-top: 1px solid var(--md-sys-color-surface-variant);
	transition: border-color 0.2s;
	margin: 12px 0;
}

.menu-simple-separator-min
{
	margin-left: 24px;
	width: calc(100% - 48px)
}

.dialog-text .menu-simple-separator
{
	width: calc(100% + 48px);
	margin-left: -24px;
}

/* icons */

.icon-24
{
	height: 24px;
	width: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
}

/* Lists */

.simple-list
{
	height: 49px;
	padding-right: 16px;
	padding-left: 16px;
	box-sizing: border-box;
	width: 100%;
	line-height: 48px;
	transition: 0.2s;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	position: relative;
}

.simple-list:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.2s;
	background: var(--md-sys-color-secondary-container);
	z-index: -1;
}

.simple-list:hover
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.simple-list:active
{
	background-color: var(--md-sys-color-on-surface-variant-4);
}

.simple-list.active:before
{
	opacity: 1;
}

.simple-list:after
{
	content: '';
	display: block;
	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 4px solid rgba(180, 180, 180, 1);
	border-radius: 0px;
	opacity: 0;
	transition: opacity 0.2s;
}

.simple-list.gamepad-highlight:after
{
	opacity: 1;
	animation: 4s blink normal 1s infinite ease-in-out;
}

.simple-list .simple-list-image
{
	width: 32px;
	height: 32px;
	border-radius: 4px;
	float: left;
	margin: 8px 12px 8px -4px;
	float: left;
	background-size: cover;
	background-position: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.simple-list .simple-list-text
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.simple-list > .icon-24
{
	float: left;
	margin: 12px 16px 12px 0px;
}

/*Medium list*/

.medium-list
{
	height: 56px;
	box-sizing: border-box;
	width: 100%;
	line-height: 56px;
	transition: 0.2s;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	position: relative;
	padding: 0px 4px 0px 16px;
	margin-top: 16px;
	transition: transform 0.2s;
}

.medium-list.gamepad-highlight
{
	transform: scale(1.005);
}

.medium-list:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 14px;
	width: calc(100% - 18px);
	height: 100%;
	background-color: transparent;
	transition: 0.2s;
	border-radius: 12px;
	z-index: 0;
}

.medium-list:hover:before
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.medium-list:active:before
{
	background-color: var(--md-sys-color-on-surface-variant-4);
}


.medium-list:after
{
	content: '';
	display: block;
	background-color: transparent;
	position: absolute;
	top: -2px;
	left: 14px;
	width: calc(100% - 14px);
	height: calc(100% + 4px);
	box-sizing: border-box;
	border: 4px solid rgba(180, 180, 180, 1);
	border-radius: 14px;
	opacity: 0;
	transition: opacity 0.2s;
}

.medium-list.gamepad-highlight:after
{
	opacity: 1;
	animation: 4s blink normal 1s infinite ease-in-out;
}

.medium-list .medium-list-image
{
	width: 56px;
	height: 56px;
	border-radius: 12px;
	float: left;
	margin: -1px 11px 0px -1px;
	float: left;
	background-size: cover;
	background-position: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	border: 1px solid var(--md-sys-color-surface-variant);
}

.medium-list > .icon-24
{
	float: left;
	margin: 16px 28px 16px 16px;
}

.medium-list .medium-list-text
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.medium-list .medium-list-text-without-image
{
	margin-left: 12px;
}

/*Content View*/

.content-view-module
{
	width: 100%;
	overflow-x: hidden;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.content-view-module > div
{
	width: 150px;
	height: 273px;
	margin: 16px 0px 16px 16px;
}

.content-view-module .v-folder
{
	width: 150px;
	height: 225px;
	border-radius: 12px;
	background-color: var(--md-sys-color-surface-container);
	/*border: 1px solid var(--md-sys-color-outline-variant);*/
	cursor: pointer;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
	transition: transform 0.2s, background-color 0.2s;
	display: flex;
	flex-wrap: wrap;
}

.content-view-module .v-folder:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: 0.2s;
	border-radius: 12px;
	z-index: 1;
}

.content-view-module .v-folder:hover:before
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.content-view-module .v-folder:active:before
{
	background-color: var(--md-sys-color-on-surface-variant-4);
}

.content-view-module .gamepad-highlight .v-folder
{
	transform: scale(1.04);
}

.content-view-module .v-folder:after
{
	content: '';
	display: block;
	background-color: transparent;
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	box-sizing: border-box;
	border: 4px solid rgba(180, 180, 180, 1);
	border-radius: 14px;
	opacity: 0;
	transition: opacity 0.2s;
}

.content-view-module .gamepad-highlight .v-folder:after
{
	opacity: 1;
	animation: 4s blink normal 1s infinite ease-in-out;
}

.content-view-module .v-img
{
	width: 150px;
	height: 225px;
	cursor: pointer;
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
    justify-content: center;
}

.content-view-module .v-img img
{
	max-width: 150px;
	max-height: 225px;
	display: block;
	border-radius: 12px;
	background-color: #fff;
	border: 1px solid var(--md-sys-color-surface-variant);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.content-view-module .v-img picture
{
	position: relative;
	transition: 0.2s;
}

.content-view-module .gamepad-highlight .v-img picture
{
	transform: scale(1.04);
}

.content-view-module .v-img picture:after
{
	content: '';
	display: block;
	background-color: transparent;
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	box-sizing: border-box;
	border: 4px solid rgba(180, 180, 180, 1);
	border-radius: 14px;
	opacity: 0;
	transition: opacity 0.2s;
}


.content-view-module .v-img picture:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: 0.2s;
	border-radius: 12px;
	z-index: 0;
}

.content-view-module .v-img:hover picture:before
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.content-view-module .v-img:before picture:active
{
	background-color: var(--md-sys-color-on-surface-variant-4);
}

.content-view-module .gamepad-highlight .v-img picture:after
{
	opacity: 1;
	animation: 4s blink normal 1s infinite ease-in-out;
}

.content-view-module .v-img img.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.content-view-module .v-text
{
	height: 48px;
	width: 150px;
	line-height: 48px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.content-view-module .folder-images
{
	width: 60px;
	height: 97px;
	margin: 10px 0px 0px 10px;
	background-size: 100%;
	background-position: 50%;
	border-radius: 4px;
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	box-sizing: border-box;
	background-repeat: no-repeat;
	display: flex;
    align-items: center;
    justify-content: center;
}

.content-view-module .folder-images > img
{
	max-width: 60px;
	max-height: 97px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 6px;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.content-view-module .folder-images > img.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.content-view-module .folder-poster
{
	height: calc(100% - 8px);
	width: calc(100% - 8px);
	position: absolute;
	top: 4px;
	left: 4px;
	background-position: center;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-size: contain;
	background-color: var(--md-sys-color-background);*/
}

.content-view-module .folder-poster.a
{
	animation-name: show-in;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

/* Continue reading */

.continue-reading
{
	height: 56px;
	position: relative;
	cursor: pointer;
	width: calc(100% - 20px);
	margin: 16px 4px 0px 16px;
	transition: transform 0.2s;
}

.continue-reading.gamepad-highlight
{
	transform: scale(1.005);
}

.continue-reading:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: 0.2s;
	z-index: 1;
	border-radius: 10px;
}

.continue-reading:hover:before
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.continue-reading:active:before
{
	background-color: var(--md-sys-color-on-surface-variant-4);
}

.continue-reading:after
{
	content: '';
	display: block;
	background-color: transparent;
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	box-sizing: border-box;
	border: 4px solid rgba(180, 180, 180, 1);
	border-radius: 14px;
	opacity: 0;
	transition: opacity 0.2s;
}

.continue-reading.gamepad-highlight:after
{
	opacity: 1;
	animation: 4s blink normal 1s infinite ease-in-out;
}

.continue-reading > div
{
	background-color: var(--md-sys-color-tertiary-container);
	height: 56px;
	position: absolute;
	width: 100%;
	border-radius: 12px;
	overflow: hidden;
}

.continue-reading > div > div
{
	width: 54px;
	height: 54px;
	border-radius: 12px;
	border: 1px solid var(--md-sys-color-surface-variant);
	float: left;
	margin: 0px 12px 0px 0px;
	float: left;
	background-size: cover;
	background-position: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.continue-reading > div > span
{
	line-height: 56px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	display: block;
	padding-right: 16px;
}

.continue-reading .navegation
{
	font-size: 16px;
	display: inline-block;
	transform: translate(0px, 4px);
	margin: 0px 2px;
}

/* Loading */

.loading
{

}

.loading.align
{
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	contain: strict;
	transform: translate(-50%, -50%);
}

.loading96
{
	width: 96px;
	height: 96px;
}

.loading48
{
	width: 48px;
	height: 48px;
}

.loading36
{
	width: 36px;
	height: 36px;
}

.loading24
{
	width: 24px;
	height: 24px;
}

.loading > svg
{
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loading > svg > circle
{
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	stroke: var(--md-sys-color-primary);
	transition: 0.3s stroke-dasharray;
}

.loading96 > svg > circle
{
	animation: dash96 1.5s ease-in-out infinite;
}

.loading48 > svg > circle
{
	animation: dash48 1.5s ease-in-out infinite;
}

.loading36 > svg > circle
{
	animation: dash36 1.5s ease-in-out infinite;
}

.loading24 > svg > circle
{
	animation: dash24 1.5s ease-in-out infinite;
}

.loading96 > svg > circle
{
	cx: 96;
	cy: 96;
	r: 32;
	fill: none;
	stroke-width: 6;
	stroke-linecap: square;
}

.loading48 > svg > circle
{
	cx: 48;
	cy: 48;
	r: 18;
	fill: none;
	stroke-width: 4;
	stroke-linecap: square;
}

.loading36 > svg > circle
{
	cx: 36;
	cy: 36;
	r: 11;
	fill: none;
	stroke-width: 3;
	stroke-linecap: square;
}

.loading24 > svg > circle
{
	cx: 24;
	cy: 24;
	r: 9;
	fill: none;
	stroke-width: 2;
	stroke-linecap: square;
}

/* Scroll */

::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
	border-left: 1px solid transparent;
	background-color: transparent;
	transition: background-color 0.2s, border-color 0.2s;
}

.bar-right-buttons::-webkit-scrollbar
{
	border-left: 0px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	width: 12px;
	height: 12px;
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, 0.12);
	border: 4px solid transparent;
	transition: background-color 0.2s, border-color 0.2s;
}

::-webkit-scrollbar-thumb:hover
{
	background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active
{
	background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive
{
	background-color: rgba(0, 0, 0, 0.06);
}