.app
{
	--title-bar-height: 30px;
	--title-bar-height: 0px;
}

.app.hide-title-bar
{
	--title-bar-height: 0px;
}

.app.show-title-bar-menu .bar-header,
.app.show-title-bar-menu .content-left,
.app.show-title-bar-menu .content-right,
.app.show-title-bar-menu .tabs-bar > div:not(.title-bar)
{
	pointer-events: none;
}

.title-bar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	z-index: 1000;
	transition: 0.2s;
	background-color: var(--md-sys-color-surface-container);
	color: var(--md-sys-color-on-surface-variant);
	-webkit-app-region: drag;
}

.app.controls-left:not(.macos) .title-bar
{
	left: var(--controls-width);
}

.hide-title-bar .title-bar
{
	display: none;
}

.title-bar-icon
{
	height: 40px;
	width: 40px;
}

.title-bar-icon > div
{
	height: 28px;
	width: 28px;
	margin: 6px;
	border-radius: 8px;
	background-color: var(--md-sys-color-background);
	transition: 0.2s;
	-webkit-app-region: no-drag;
	line-height: 28px;
	text-align: center;
	font-size: 19px;
	font-size: 16px;
}

.title-bar-icon:hover > div
{
	background: var(--md-sys-color-secondary-container);
}

.title-bar-menu
{
	position: absolute;
	top: 0px;
	/*left: 36px;*/
	left: 0px;
	height: 40px;
	/*padding: 3px 0px;*/
	padding: 9px 9px;
	box-sizing: border-box;
	-webkit-app-region: no-drag;
	margin-left: env(titlebar-area-x);

	transition: 0.2s;
	display: none;
	background-color: var(--md-sys-color-surface-container);
}

.title-bar-menu.show
{
	pointer-events: auto;
	display: flex;
}

.title-bar-menu:before
{
	content: '';
	display: block;
	position: absolute;
	overflow: hidden;
	top: 0px;
	width: 40px;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	background: linear-gradient(90deg, var(--md-sys-color-surface-container) 10%, transparent 90%);
	right: -40px;
}

.title-bar-menu.label-medium
{
	font-weight: 400 !important;
}

.title-bar-menu > div
{
	height: 22px;
	line-height: 22px;
	padding: 0px 8px;
	border-radius: 4px;
}

.title-bar-menu > div:hover
{
	background-color: var(--md-sys-color-on-surface-variant-2);
}

.title-bar-menu > div:active,
.title-bar-menu > div.active
{
	background-color: var(--md-sys-color-on-surface-variant-4);
}

.title-bar-menus.label-medium
{
	font-weight: 400 !important;
}

.title-bar-menus > div
{
	position: fixed;
	z-index: 1001;
	background-color: var(--md-sys-color-surface);
	border: 1px solid var(--md-sys-color-surface-variant);
	border-radius: 8px;
	padding: 4px;
	-webkit-app-region: no-drag;
	top: 31px;
	display: none;
	box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.05);
}

.title-bar-menus > div > div
{
	height: 30px;
	line-height: 30px;
	padding: 0px 24px;
	border-radius: 4px;
	transition: 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.title-bar-menus > div > div.separator
{
	display: block;
	height: 0px;
	margin: 4px 0px;
	border-bottom: 1px solid var(--md-sys-color-surface-variant);
	width: calc(100% + 8px);
	margin-left: -4px;
	padding: 0px;
}

.title-bar-menus > div > div:hover
{
	background-color: var(--md-sys-color-secondary-container);
}

.title-bar-menus > div > div:active,
.title-bar-menus > div > div.active
{
	background-color: var(--md-sys-color-secondary-container);
}

.title-bar-menus > div > div > span
{
	display: block;
	color: color-mix(in srgb, var(--md-sys-color-on-surface), transparent 50%);
	padding-left: 32px;
}