.app.red {
	--md-ref-palette-background-1-light: #fbf0f4;
	--md-ref-palette-background-2-light: #f9eaed;
	--md-ref-palette-background-3-light: #f7e4e6;
	--md-ref-palette-background-4-light: #f6e2e4;
	--md-ref-palette-background-5-light: #f5dde0;
	--md-ref-palette-surface-1-light: #fbf0f4;
	--md-ref-palette-surface-2-light: #f9eaed;
	--md-ref-palette-surface-3-light: #f7e4e6;
	--md-ref-palette-surface-4-light: #f6e2e4;
	--md-ref-palette-surface-5-light: #f5dde0;
	--md-ref-palette-surface-variant-1-light: #f2d4d1;
	--md-ref-palette-surface-variant-2-light: #f0cecb;
	--md-ref-palette-surface-variant-3-light: #eec9c5;
	--md-ref-palette-surface-variant-4-light: #edc7c4;
	--md-ref-palette-surface-variant-5-light: #ecc4c0;
	--md-ref-palette-on-surface-variant-1-light: rgba(83, 67, 65, 0.05);
	--md-ref-palette-on-surface-variant-2-light: rgba(83, 67, 65, 0.08);
	--md-ref-palette-on-surface-variant-3-light: rgba(83, 67, 65, 0.11);
	--md-ref-palette-on-surface-variant-4-light: rgba(83, 67, 65, 0.12);
	--md-ref-palette-on-surface-variant-5-light: rgba(83, 67, 65, 0.14);
	--md-ref-palette-background-1-dark: #2b2220;
	--md-ref-palette-background-2-dark: #322625;
	--md-ref-palette-background-3-dark: #392b29;
	--md-ref-palette-background-4-dark: #3b2c2a;
	--md-ref-palette-background-5-dark: #3f302d;
	--md-ref-palette-surface-1-dark: #2b2220;
	--md-ref-palette-surface-2-dark: #322625;
	--md-ref-palette-surface-3-dark: #392b29;
	--md-ref-palette-surface-4-dark: #3b2c2a;
	--md-ref-palette-surface-5-dark: #3f302d;
	--md-ref-palette-surface-variant-1-dark: #5c4946;
	--md-ref-palette-surface-variant-2-dark: #614c49;
	--md-ref-palette-surface-variant-3-dark: #664f4c;
	--md-ref-palette-surface-variant-4-dark: #68514d;
	--md-ref-palette-surface-variant-5-dark: #6b5350;
	--md-ref-palette-on-surface-variant-1-dark: rgba(216, 194, 190, 0.05);
	--md-ref-palette-on-surface-variant-2-dark: rgba(216, 194, 190, 0.08);
	--md-ref-palette-on-surface-variant-3-dark: rgba(216, 194, 190, 0.11);
	--md-ref-palette-on-surface-variant-4-dark: rgba(216, 194, 190, 0.12);
	--md-ref-palette-on-surface-variant-5-dark: rgba(216, 194, 190, 0.14);
}